<!--Disabled Backdrop Modal for Trader Settings-->
<div class="modal fade text-left" id="mdlSettingsAB" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4"
    data-bs-backdrop="false" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <h4 class="modal-title" id="myModalLabel4">Alice Blue Settings</h4>
                <i class="fa fa-times" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close"
                    style="cursor: pointer;"></i>
            </div>
            <div class="modal-body">
                <!-- // Basic multiple Column Form section start -->
                <section id="multiple-column-form">
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header text-center">
                                    &nbsp;<span id="spnSettingsMsg" class="badge bg-primary">Please Input Details</span>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <h3>Upload Files for Alice Blue Tokens</h3>
                                                </div>
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-sm-3"><a
                                                                href="https://v2api.aliceblueonline.com/contractMaster"
                                                                target="_blank">Click to Download Contracts</a></div>
                                                        <div class="col-sm-4">
                                                            <form>
                                                                <fieldset>
                                                                    <div class="input-group">
                                                                        <input type="file" class="form-control"
                                                                            id="flsSelectFiles" name="flsSelectFiles"
                                                                            aria-describedby="inputGroupFileAddon04"
                                                                            aria-label="Upload" multiple />
                                                                        <input class="btn btn-primary" type="button"
                                                                            value="Upload" onclick="fnUploadFiles();" />
                                                                    </div>
                                                                </fieldset>
                                                            </form>
                                                        </div>
                                                        <div class="col-sm-2"></div>
                                                        <div class="col-sm-1"><a href="/json/INDICES.json"
                                                                target="_blank">Indices</a></div>
                                                        <div class="col-sm-1"><a href="/json/NFO.json"
                                                                target="_blank">NFO</a></div>
                                                        <div class="col-sm-1"><a href="/json/BFO.json"
                                                                target="_blank">BFO</a></div>
                                                    </div>
                                                </div>

                                                <div class="col-12">
                                                    <hr />
                                                </div>
                                                <div class="col-md-6 col-6">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <h5>Manage Symbol, Lot Size & Interval</h5>
                                                        </div>
                                                        <div class="col-sm-6">Select Symbol</div>
                                                        <div class="col-sm-4"></div>
                                                        <div class="col-sm-1" style="white-space: nowrap;">Edit</div>
                                                        <div class="col-sm-1" style="white-space: nowrap;">Del</div>
                                                        <div class="col-sm-6">
                                                            <select id="ddlSymbol" class="form-control"
                                                                onchange="fnGetExpiryList();">
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-4"><input type="text" class="form-control"
                                                                id="txtHidLotSize" placeholder="Lot Size" disabled />
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <div class="form-check form-switch fs-6">
                                                                <input type="checkbox" class="form-check-input me-0"
                                                                    id="swtEditSymbol" onclick="fnEditSymbol();" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <i class="fa fa-trash" style="color:red; cursor:pointer;"
                                                                onclick="fnDeleteSymbol();"></i>
                                                        </div>
                                                        <div class="col-sm-4">Symbol Name</div>
                                                        <div class="col-sm-4">Index Name</div>
                                                        <div class="col-sm-4">Token</div>
                                                        <div class="col-sm-4">
                                                            <input type="text" class="form-control" id="txtSymbolName"
                                                                placeholder="Symbol Name" />
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <input type="text" class="form-control" id="txtTradeName"
                                                                placeholder="Index Name" />
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <input type="text" class="form-control" id="txtToken"
                                                                placeholder="Symbol Token" />
                                                        </div>
                                                        <div class="col-sm-4">Exchange</div>
                                                        <div class="col-sm-4">Contract Name</div>
                                                        <div class="col-sm-4">Max Lots Limit</div>
                                                        <div class="col-sm-4">
                                                            <select id="ddlExchange" class="form-control"
                                                                onchange="fnChangeContracts(this);">
                                                                <option value="NFO">NSE</option>
                                                                <option value="BFO">BSE</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <select id="ddlContracts" class="form-control">
                                                                <option value="NFO">NFO</option>
                                                                <option value="BFO">BFO</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <input type="number" class="form-control" id="txtMaxLotsLimit"
                                                                placeholder="Max Lots Limit" min="1" value="1" />
                                                        </div>
                                                        <div class="col-sm-3">Lot Size</div>
                                                        <div class="col-sm-3">Strike Interval</div>
                                                        <div class="col-sm-3">Stop Loss</div>
                                                        <div class="col-sm-3">Take Profit</div>
                                                        <div class="col-sm-3">
                                                            <input type="text" class="form-control" id="txtLotSize"
                                                                placeholder="Lot Size" />
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <input type="text" class="form-control"
                                                                id="txtStrikeInterval" placeholder="Strike Interval" />
                                                        </div>
                                                        <div class="col-sm-3"><input type="text" class="form-control"
                                                                id="txtStopLoss" placeholder="Stop Loss" /></div>
                                                        <div class="col-sm-3"><input type="text" class="form-control"
                                                                id="txtTakeProfit" placeholder="Take Profit" /></div>
                                                        <div class="col-sm-6">&nbsp;</div>
                                                        <div class="col-sm-6"></div>
                                                        <div class="col-sm-6"><input
                                                                class="btn btn-outline-warning btn-block"
                                                                id="btnClearSymbol"
                                                                onclick='fnDeleteLocalStorageSymbol();'
                                                                value="Clear All Data" /></div>
                                                        <div class="col-sm-6"><input type="button"
                                                                class="btn btn-outline-info btn-block"
                                                                id="btnAddEditSymbol"
                                                                onclick="fnAddEditSymbolDetails();"
                                                                value="Save Symbol" /></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-6">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <h5>Manage Expiry Dates</h5>
                                                        </div>
                                                        <div class="col-sm-6">Select Expiry Date</div>
                                                        <div class="col-sm-4"></div>
                                                        <div class="col-sm-1" style="white-space: nowrap;">Edit</div>
                                                        <div class="col-sm-1" style="white-space: nowrap;">Del</div>
                                                        <div class="col-sm-6">
                                                            <select id="ddlExpiry" class="form-control"
                                                                onchange="fnResetAllDetails();">
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-4"></div>
                                                        <div class="col-sm-1">
                                                            <div class="form-check form-switch fs-6">
                                                                <input type="checkbox" class="form-check-input me-0"
                                                                    id="swtEditExpiry" onclick="fnEditExpiry();" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-1">
                                                            <i class="fa fa-trash" style="color:red; cursor:pointer;"
                                                                onclick="fnDeleteExpiry();"></i>
                                                        </div>
                                                        <div class="col-sm-6">Expiry Date</div>
                                                        <div class="col-sm-6"></div>
                                                        <div class="col-sm-6">
                                                            <input type="text" class="form-control" id="txtExpiryDate"
                                                                placeholder="YYYY-MM-DD" />
                                                        </div>
                                                        <div class="col-sm-6">
                                                        </div>
                                                        <div class="col-sm-6">&nbsp;</div>
                                                        <div class="col-sm-6"></div>
                                                        <div class="col-sm-6"></div>
                                                        <div class="col-sm-6"><input type="button"
                                                                class="btn btn-outline-info btn-block"
                                                                id="btnAddEditExpiry"
                                                                onclick="fnAddEditExpiryDetails();"
                                                                value="Save Expiry" /></div>

                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">CLOSE</span>
                </button>
            </div>
        </div>
    </div>
</div>


<!--Disabled Backdrop Modal for Trader Login-->
<div class="modal fade text-left" id="mdlAliceLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4"
    data-bs-backdrop="false" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <h4 class="modal-title" id="myModalLabel4">Alice Blue Login Details</h4>
                <i class="fa fa-times" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close" style="cursor: pointer;"></i>
            </div>
            <div class="modal-body">
                <!-- // Basic multiple Column Form section start -->
                <section id="multiple-column-form">
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header text-center">
                                    &nbsp;<span id="spnAliceBlueLogin" class="badge bg-primary">Please Input Login Details</span>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form">
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="txtClientId">Client ID</label>
                                                        <input type="text" id="txtClientId" class="form-control" value="632665" />
                                                    </div>
                                                </div>
                                                    <div class="col-md-6 col-12">
                                                        <br/>
                                                        <a href="https://ant.aliceblueonline.com/" target="_blank">LOGIN TO TRADING ACCOUNT</a>
                                                    <!--<div class="form-group">
                                                        <label for="txtEmailId">Email</label>
                                                        <input type="email" id="txtEmailId" class="form-control" />
                                                    </div>-->
                                                </div> 
                                                <div class="col-md-12 col-12">
                                                    <div class="form-group">
                                                        <label for="txtApiKey">API Key</label>
                                                        <input type="text" id="txtApiKey" class="form-control" value="sYtLAxsaZjYPcHEMVKK2yLGvsr9mH1ou9FcFmZuQy5LIuotmzaoN4uof32IavhKaYSUBkQfHWVs4OUlk7FQjYpOWRxJx9BDajn9LKI598LtIbR0STdhK1g0uLIlBLHHW" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <input type="hidden" id="hidEncKey" class="form-control" />
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">CLOSE</span>
                </button>
                <button id="btnSubmit" type="button" class="btn btn-primary ms-1" onclick="fnLoginAliceBlue();">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">SUBMIT</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!--Disabled Backdrop Modal for Profile Settings-->
<div class="modal fade text-left" id="mdlUserProfile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4"
    data-bs-backdrop="false" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <h4 class="modal-title" id="myModalLabel4">My Profile</h4>
                <i class="fa fa-times" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close" style="cursor: pointer;"></i>
            </div>
            <div class="modal-body">
                <!-- // Basic multiple Column Form section start -->
                <section id="multiple-column-form">
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header text-center">
                                    &nbsp;<span id="spnABProfile" class="badge bg-primary">Profile Details</span>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form">
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="txtClientIdUP">Client ID</label>
                                                        <div class="input-group mb-3">
                                                            <button class="btn btn-primary" type="button" id="button-addon1" onclick="fnGetUserProfileDets();"><i class="fa fa-share" aria-hidden="true"></i></button>
                                                            <input id="txtClientIdUP" type="text" class="form-control" disabled="true" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="txtFullNameUP">Full Name</label>
                                                        <input type="text" id="txtFullNameUP" class="form-control" value="" disabled="true" />
                                                    </div>
                                                </div> 
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="txtClientMobileUP">Mobile Number</label>
                                                        <input type="text" id="txtClientMobileUP" class="form-control" value="" disabled="true" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="txtClientEmailUP">E-Mail</label>
                                                        <input type="text" id="txtClientEmailUP" class="form-control" value="" disabled="true" />
                                                    </div>
                                                </div> 
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="txtClientStatusUP">Account Status</label>
                                                        <input type="text" id="txtClientStatusUP" class="form-control" value="" disabled="true" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">

                                                </div> 
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="txtRealMarginUP" onclick="fnShowHideMarginData();">Available Cash Margin</label>
                                                        <input type="text" id="txtRealMarginUP" class="form-control" value="" disabled="true" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <div class="form-group">
                                                        <label for="txtPaperMarginUP">Paper Trade Margin</label>
                                                        <input type="number" min="100000" max="10000000" id="txtPaperMarginUP" class="form-control" value="500000" step="100000" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-12">
                                                    <div id="divMarginData" style="display: none;"></div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">CLOSE</span>
                </button>
                <button id="btnSubmit" type="button" class="btn btn-primary ms-1" onclick="fnSaveProfileDetails();">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">SUBMIT</span>
                </button>
            </div>
        </div>
    </div>
</div>