
<!--Disabled Backdrop Modal for Trader Login-->
<div class="modal fade text-left" id="mdlDeltaLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4"
    data-bs-backdrop="false" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <h4 class="modal-title" id="myModalLabel4">Delta Exchange Login Details</h4>
                <i class="fa fa-times" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close" style="cursor: pointer;"></i>
            </div>
            <div class="modal-body">
                <!-- // Basic multiple Column Form section start -->
                <section id="multiple-column-form">
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header text-center">
                                    &nbsp;<span id="spnDeltaLogin" class="badge bg-primary">Please Input Login Details</span>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form">
                                            <div class="row">
                                                <div class="col-md-12 col-12">
                                                    <div class="form-group">
                                                        <label for="txtUserAPIKey">API Key</label>
                                                        <input type="text" id="txtUserAPIKey" class="form-control" value="zhckjOdxFmHCTFx664ZpJ5H7Oxb3Db" placeholder="API Key" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-12">
                                                    <div class="form-group">
                                                        <label for="txtAPISecret">API Secret Code</label>
                                                        <input type="text" id="txtAPISecret" class="form-control" value="IqSL4kBct7CakpEDH9grdWuAgjM0zg4KgB3yGoRjj4xPZm8Qz57LWLaVWqCK" placeholder="API Secret" />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">CLOSE</span>
                </button>
                <button type="button" class="btn btn-primary ms-1" onclick="fnValidateDeltaLogin();">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">SUBMIT</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!--Disabled Backdrop Modal for Selecting Option Legs-->
<div class="modal fade text-left" id="mdlDeltaOC" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" data-bs-backdrop="false" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <h4 class="modal-title" id="myModalLabel4">Option Chain</h4>
                <i class="fa fa-times" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close" style="cursor: pointer;"></i>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-12" style="text-wrap: nowrap; text-align:center; font-weight: bold;">SELECT SELLING LEGS</div>
                            <div class="col-6" style="text-wrap: nowrap; text-align:center; font-weight: bold;">CE</div>
                            <div class="col-6" style="text-wrap: nowrap; text-align:center; font-weight: bold;">PE</div>
                            <div class="col-6">
                                <table class="table">
                                    <thead>
                                        <tr style="text-align:center;">
                                            <th scope="col" style="text-wrap: nowrap;">Select</th>
                                            <th scope="col" style="text-wrap: nowrap;">Delta</th>
                                            <th scope="col" style="text-wrap: nowrap;">Symbol</th>
                                            <th scope="col" style="text-wrap: nowrap;">Buyer Rate</th>
                                            <th scope="col" style="text-wrap: nowrap;">Seller Rate</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tBodyOptsSellCE">

                                    </tbody>
                                </table>
                            </div>
                            <div class="col-6">
                                <table class="table">
                                    <thead>
                                        <tr style="text-align:center;">
                                            <th scope="col" style="text-wrap: nowrap;">Select</th>
                                            <th scope="col" style="text-wrap: nowrap;">Delta</th>
                                            <th scope="col" style="text-wrap: nowrap;">Symbol</th>
                                            <th scope="col" style="text-wrap: nowrap;">Buyer Rate</th>
                                            <th scope="col" style="text-wrap: nowrap;">Seller Rate</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tBodyOptsSellPE">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="table-responsive">
                        <div class="row">
                            <div class="col-12" style="text-wrap: nowrap; text-align:center; font-weight: bold;">SELECT BUYING LEGS</div>
                            <div class="col-6" style="text-wrap: nowrap; text-align:center; font-weight: bold;">CE</div>
                            <div class="col-6" style="text-wrap: nowrap; text-align:center; font-weight: bold;">PE</div>
                            <div class="col-6">
                                <table class="table">
                                    <thead>
                                        <tr style="text-align:center;">
                                            <th scope="col" style="text-wrap: nowrap;">Select</th>
                                            <th scope="col" style="text-wrap: nowrap;">Delta</th>
                                            <th scope="col" style="text-wrap: nowrap;">Symbol</th>
                                            <th scope="col" style="text-wrap: nowrap;">Buyer Rate</th>
                                            <th scope="col" style="text-wrap: nowrap;">Seller Rate</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tBodyOptsBuyCE">

                                    </tbody>
                                </table>
                            </div>
                            <div class="col-6">
                                <table class="table">
                                    <thead>
                                        <tr style="text-align:center;">
                                            <th scope="col" style="text-wrap: nowrap;">Select</th>
                                            <th scope="col" style="text-wrap: nowrap;">Delta</th>
                                            <th scope="col" style="text-wrap: nowrap;">Symbol</th>
                                            <th scope="col" style="text-wrap: nowrap;">Buyer Rate</th>
                                            <th scope="col" style="text-wrap: nowrap;">Seller Rate</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tBodyOptsBuyPE">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">CLOSE</span>
                </button>
                <button type="button" class="btn btn-primary ms-1" onclick="fnExecTrade();">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">START TRADE</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!--Disabled Backdrop Modal for New Strategy Name-->
<div class="modal fade text-left" id="mdlDeltaNewStrategy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4"
    data-bs-backdrop="false" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-s" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <h4 class="modal-title" id="myModalLabel4">Add New Strategy</h4>
                <i class="fa fa-times" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close" style="cursor: pointer;"></i>
            </div>
            <div class="modal-body">
                <!-- // Basic multiple Column Form section start -->
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header text-center">
                                &nbsp;<span class="badge bg-primary" id="spnStratMsgs">Please Input Strategy Details</span>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12 col-12">
                                            <div class="form-group">
                                                <label for="txtStrategyName">Strategy Name</label>
                                                <input type="text" id="txtStrategyName" class="form-control" value="" placeholder="Strategy Name" />
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="form-group">
                                                <label for="taDescription">Description</label>
                                                <textarea class="form-control" rows="5" id="taDescription" placeholder="Description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">CLOSE</span>
                </button>
                <button type="button" class="btn btn-primary ms-1" onclick="fnAddNewStrategy();">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">SAVE</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!--Disabled Backdrop Modal for Strategy Editor-->
<div class="modal fade text-left" id="mdlStrategyEditor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" data-bs-backdrop="false" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <h4 class="modal-title" id="myModalLabel4">Strategy Editor</h4>
                <i class="fa fa-times" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close" style="cursor: pointer;"></i>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-2">Strategy Name</div>
                        <div class="col-2">
                            <input type="text" value="" id="txtEditStratName" class="form-control" />
                            <input type="hidden" value="" id="hidStratID" class="form-control" />
                        </div>
                        <div class="col-1">
                            <i class="fa fa-trash" aria-hidden="true" style="color: red; cursor: pointer;" onclick="fnDelStrategy();"></i>
                        </div>
                        <div class="col-7">
                            <textarea class="form-control" rows="3" id="taEditDescription" placeholder="Description"></textarea>
                        </div>
                        <div class="col-12">&nbsp;</div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-12" style="text-align: center; font-weight: bold; color: red;">SELL LEG SETTINGS</div>

                                <div class="col-12" style="color: white;">Option Chain Display Settings</div>
                                <div class="col-6" style="color: white;">MIN - Delta</div>
                                <div class="col-6" style="color: white;">MAX - Delta</div>
                                <div class="col-6">
                                    <input type="text" value="0.35" id="txtDeltaSellLegMin" class="form-control" />
                                </div>
                                <div class="col-6">
                                    <input type="text" value="0.51" id="txtDeltaSellLegMax" class="form-control" />
                                </div>

                                <div class="col-12" style="color: cadetblue">Position Sizing</div>
                                <div class="col-6" style="color: cadetblue;">Start QTY</div>
                                <div class="col-6" style="color: cadetblue;">Multiplier</div>
                                <div class="col-6">
                                    <input type="number" min="1" class="form-control" placeholder="Sell Quantity" id="txtSellQty" value="1" />
                                </div>
                                <div class="col-6">
                                    <select id="ddlSellMultiplier" class="form-select" placeholder="Multiplier" title="MULTIPLIER">
                                        <option value=1 selected>1x</option>
                                        <option value=2>2x</option>
                                        <option value=3>3x</option>
                                    </select>
                                </div>

                                <div class="col-12" style="color: orange;">Position Adjustments</div>
                                <div class="col-4" style="color: orange;">TP - Delta</div>
                                <div class="col-4" style="color: orange;">SL - Delta</div>
                                <div class="col-4" style="color: orange;">New Position - Delta</div>
                                <div class="col-4">
                                    <input type="text" value="0.20" id="txtDeltaSellLegProfit" class="form-control" />
                                </div>
                                <div class="col-4">
                                    <input type="text" value="0.80" id="txtDeltaSellLegLoss" class="form-control" />
                                </div>
                                <div class="col-4">
                                    <input type="text" value="0.53" id="txtDeltaSellNewPos" class="form-control" />
                                </div>

                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-12" style="text-align: center; font-weight: bold; color: chartreuse;">BUY LEG SETTINGS</div>

                                <div class="col-12" style="color: white;">Option Chain Display Settings</div>
                                <div class="col-6" style="color: white;">MIN - Delta</div>
                                <div class="col-6" style="color: white;">MAX - Delta</div>
                                <div class="col-6">
                                    <input type="text" value="0.35" id="txtDeltaBuyLegMin" class="form-control" />
                                </div>
                                <div class="col-6">
                                    <input type="text" value="0.43" id="txtDeltaBuyLegMax" class="form-control" />
                                </div>

                                <div class="col-12" style="color: cadetblue">Position Sizing</div>
                                <div class="col-6" style="color: cadetblue;">Start QTY</div>
                                <div class="col-6" style="color: cadetblue;">Multiplier</div>
                                <div class="col-6">
                                    <input type="number" min="1" class="form-control" placeholder="Buy Quantity" id="txtBuyQty" value="1000" />
                                </div>
                                <div class="col-6">
                                    <select id="ddlBuyMultiplier" class="form-select" placeholder="Multiplier" title="MULTIPLIER">
                                        <option value=1 selected>1x</option>
                                        <option value=2>2x</option>
                                        <option value=3>3x</option>
                                    </select>
                                </div>

                                <div class="col-12" style="color: orange;">Position Adjustments</div>
                                <div class="col-4" style="color: orange;">TP - Delta</div>
                                <div class="col-4" style="color: orange;">SL - Delta</div>
                                <div class="col-4" style="color: orange;">New Position - Delta</div>
                                <div class="col-4">
                                    <input type="text" value="0.75" id="txtDeltaBuyLegProfit" class="form-control" />
                                </div>
                                <div class="col-4">
                                    <input type="text" value="0" id="txtDeltaBuyLegLoss" class="form-control" />
                                </div>
                                <div class="col-4">
                                    <input type="text" value="0.23" id="txtDeltaBuyNewPos" class="form-control" />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">CLOSE</span>
                </button>
                <button type="button" class="btn btn-primary ms-1" onclick="fnSaveStrategy();">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">SAVE STRATEGY</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!--Disabled Backdrop Modal for Leg Editor-->
<div class="modal fade text-left" id="mdlLegEditor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" data-bs-backdrop="false" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <h4 class="modal-title" id="myModalLabel4">Update Option Leg</h4>
                <i class="fa fa-times" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close" style="cursor: pointer;"></i>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">Lot Size</div>
                        <div class="col-6">Quantity</div>
                        <div class="col-6">
                            <input type="text" value="" id="txtEdLotSize" class="form-control" />
                            <input type="text" value="" id="hidLegID" class="form-control" />
                        </div>
                        <div class="col-6">
                            <input type="text" value="" id="txtEdQty" class="form-control" />
                        </div>

                        <div class="col-6">Buy Price</div>
                        <div class="col-6">Sell Price</div>
                        <div class="col-6">
                            <input type="text" value="" id="txtEdBuyPrice" class="form-control" />
                        </div>
                        <div class="col-6">
                            <input type="text" value="" id="txtEdSellPrice" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">CLOSE</span>
                </button>
                <button type="button" class="btn btn-primary ms-1" onclick="fnUpdateOptionLeg();">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">UPDATE</span>
                </button>
            </div>
        </div>
    </div>
</div>