<div class="modal fade text-left" id="mdlDeltaPaperLogin" tabindex="-1" role="dialog" data-bs-backdrop="false" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <h4 class="modal-title">Delta Login (Paper)</h4>
                <i class="fa fa-times" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close" style="cursor: pointer;"></i>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <span id="spnDeltaPaperLogin" class="badge bg-primary">Enter API credentials to validate</span>
                        </div>
                        <div class="col-12 mt-2">
                            <label for="txtDPApiKey" class="form-label">API Key</label>
                            <input type="text" id="txtDPApiKey" class="form-control" value="" />
                        </div>
                        <div class="col-12 mt-2">
                            <label for="txtDPApiSecret" class="form-label">API Secret</label>
                            <input type="text" id="txtDPApiSecret" class="form-control" value="" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="fnValidateDPLogin();">Validate</button>
            </div>
        </div>
    </div>
</div>

