
<!--Disabled Backdrop Modal for Trader Login-->
<div class="modal fade text-left" id="mdlDeltaLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4"
    data-bs-backdrop="false" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <h4 class="modal-title" id="myModalLabel4">Delta Exchange Login Details</h4>
                <i class="fa fa-times" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close" style="cursor: pointer;"></i>
            </div>
            <div class="modal-body">
                <!-- // Basic multiple Column Form section start -->
                <section id="multiple-column-form">
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header text-center">
                                    &nbsp;<span id="spnDeltaLogin" class="badge bg-primary">Please Input Login Details</span>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form">
                                            <div class="row">
                                                <div class="col-md-12 col-12">
                                                    <div class="form-group">
                                                        <label for="txtUserAPIKey">Account API Key</label>
                                                        <input type="text" id="txtUserAPIKey" class="form-control" value="1LmJxvtyqgUsxa2kMnlO3nighX59NI" placeholder="API Key" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-12">
                                                    <div class="form-group">
                                                        <label for="txtAPISecret">Account Secret Code</label>
                                                        <input type="text" id="txtAPISecret" class="form-control" value="zE1SAHacrXD5eUQQOa4C7VV8QyXjhYbiAaFCOZTem7lw2l9ANYqZTjOQFWFZ" placeholder="Secret Code" />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">CLOSE</span>
                </button>
                <button id="btnSubmit" type="button" class="btn btn-primary ms-1" onclick="fnValidateDeltaLogin();">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">SUBMIT</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!--Disabled Backdrop Modal for Leg Editor-->
<div class="modal fade text-left" id="mdlLegEditor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" data-bs-backdrop="false" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <h4 class="modal-title" id="myModalLabel4">Update Option Leg</h4>
                <i class="fa fa-times" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close" style="cursor: pointer;"></i>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">Lot Size</div>
                        <div class="col-6">Quantity</div>
                        <div class="col-6">
                            <input type="text" value="" id="txtEdLotSize" class="form-control" />
                            <input type="text" value="" id="hidLegID" class="form-control" />
                        </div>
                        <div class="col-6">
                            <input type="text" value="" id="txtEdQty" class="form-control" />
                        </div>

                        <div class="col-6">Buy Price</div>
                        <div class="col-6">Sell Price</div>
                        <div class="col-6">
                            <input type="text" value="" id="txtEdBuyPrice" class="form-control" />
                        </div>
                        <div class="col-6">
                            <input type="text" value="" id="txtEdSellPrice" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">CLOSE</span>
                </button>
                <button type="button" class="btn btn-primary ms-1" onclick="fnUpdateOptionLeg();">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">UPDATE</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!--Disabled Backdrop Modal for New Strategy Name-->
<div class="modal fade text-left" id="mdlDeltaNewStrategy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4"
    data-bs-backdrop="false" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-s" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <h4 class="modal-title" id="myModalLabel4">Add New Strategy</h4>
                <i class="fa fa-times" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close" style="cursor: pointer;"></i>
            </div>
            <div class="modal-body">
                <!-- // Basic multiple Column Form section start -->
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header text-center">
                                &nbsp;<span class="badge bg-primary" id="spnStratMsgs">Please Input Strategy Details</span>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12 col-12">
                                            <div class="form-group">
                                                <label for="txtStrategyName">Strategy Name</label>
                                                <input type="text" id="txtStrategyName" class="form-control" value="" placeholder="Strategy Name" />
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-12">
                                            <div class="form-group">
                                                <label for="taDescription">Description</label>
                                                <textarea class="form-control" rows="5" id="taDescription" placeholder="Description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">CLOSE</span>
                </button>
                <button type="button" class="btn btn-primary ms-1" onclick="fnAddNewStrategy();">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">SAVE</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!--Disabled Backdrop Modal for Open Positions List-->
<div class="modal fade text-left" id="mdlOpenPosSel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel4" data-bs-backdrop="false" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary">
                <h4 class="modal-title" id="myModalLabel4">Select Open Positions</h4>
                <i class="fa fa-times" aria-hidden="true" data-bs-dismiss="modal" aria-label="Close" style="cursor: pointer;"></i>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr style="text-align:center;">
                                    <th scope="col" style="text-wrap: nowrap;">Select</th>
                                    <th scope="col" style="text-wrap: nowrap;">Symbol</th>
                                    <th scope="col" style="text-wrap: nowrap;">Price</th>
                                    <th scope="col" style="text-wrap: nowrap;">Trans</th>
                                    <th scope="col" style="text-wrap: nowrap;">Qty</th>
                                </tr>
                            </thead>
                            <tbody id="tBodyOpenTrades">

                            </tbody>
                        </table>
                        <textarea id="taOpenPos" cols="130" rows="10"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                    <i class="bx bx-x d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">CLOSE</span>
                </button>
                <button type="button" class="btn btn-primary ms-1" onclick="fnSaveOpenPositions();">
                    <i class="bx bx-check d-block d-sm-none"></i>
                    <span class="d-none d-sm-block">UPDATE</span>
                </button>
            </div>
        </div>
    </div>
</div>