<div class="container">
  <footer>
    <div class="footer clearfix mb-0 text-muted">
        <hr />
        <div class="float-start">
            <p>2025 &copy; Company</p>
        </div>
        <div class="float-end">
            <p>Crafted with <span class="text-danger"><i class="fa fa-heart" aria-hidden="true"></i></span></p>
        </div>
    </div>
</footer>
</div>