
<header class="p-3 text-bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <img src="/img/logoAlgo.png" height="40px" />
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
          <li><a href="/samco" class="nav-link px-2 text-white">Samco</a></li>
          <li><a href="/alice" class="nav-link px-2 text-white">Alice</a></li>
          <li><a href="/finvasia" class="nav-link px-2 text-white">Finvasia</a></li>
          <li><a href="/aboutus" class="nav-link px-2 text-white">About</a></li>
        </ul>

        <div class="text-end">
            <div class="form-check form-switch fs-6">

                <input class="form-check-input  me-0" type="checkbox" id="toggle-dark"
                    style="cursor: pointer" />
                
                <i class="fa fa-moon-o" style="color: cornflowerblue;" aria-hidden="true"></i>
            </div>
        </div>
      </div>
    </div>
  </header>