<div id="main" class="container-xxl">
    <div class="page-heading">
        <div class="row">
            <div class="col-4">
                <h3>Delta - Options Scalper Demo</h3>
            </div>
            <div class="col-4 text-center">
                <span class="badge bg-warning" id="spnGenMsg">Hi, Welcome</span>
            </div>
            <div class="col-4" style="text-align: right;">
                
            </div>
        </div>
    </div>
    <div class="page-content">
        <section class="row">
            <div class="col-12 col-lg-12">
                <div class="row" style="text-align: center;">
                    <div class="col-6 col-lg-4 col-md-6">
                        <button class="badge bg-danger" onclick="fnShowTraderLoginMdl(this);" id="btnTraderStatus">Trader - Invalid</button>
                    </div>
                    <div class="col-6 col-lg-4 col-md-6">
                        <button class="badge bg-danger" onclick="fnToggleAutoTrader();" id="btnAutoTraderStatus">Auto Trader - OFF</button>
                    </div>
                    <div class="col-6 col-lg-4 col-md-6">
                        <button class="badge bg-success" onclick="fnPositionStatus()" id="btnPositionStatus">No Open Position</button>
                    </div>
                    <div class="col-12">&nbsp;</div>
                </div>
            </div>
        </section>
        <section class="row">
            <div class="col-12">
                <div class="card" id="cardManualTrader">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-3">
                                <h4>Manual Trader</h4>
                            </div>
                            <div class="col-1">
                                <form name="frmSide">
                                    <div class="tw-toggle" style="white-space: nowrap;">
                                        <input id="txtBN1" type="radio" name="rdoTradeSide" value="false" onclick="fnTradeSide();" />
                                        <label class="toggle toggle-yes" for="txtBN1"><i class="fa fa-arrow-down"></i></label>
                                        <input id="txtBN2" checked type="radio" name="rdoTradeSide" value="-1" onclick="fnTradeSide();" />
                                        <label class="toggle toggle-yes" for="txtBN2"><i class="fa fa-minus"></i></label>
                                        <input id="txtBN3" type="radio" name="rdoTradeSide" value="true" onclick="fnTradeSide();" />
                                        <label class="toggle toggle-yes" for="txtBN3"><i class="fa fa-arrow-up"></i></label>
                                        <span></span>
                                        <label for="TradeSide">Side</label>
                                    </div>
                                </form>
                            </div>
                            <div class="col-2" style="text-align: right;">Start With </div>
                            <div class="col-1"><input type="text" class="form-control" min="1" value="1" id="txtStartQty" onchange="fnChangeStartQty(this);" /></div>
                            <div class="col-1"> Qty</div>
                            <div class="col-1" style="text-align: right;">
                                <span class="badge rounded-pill text-bg-success" style="height: 30px; width: 30px; cursor:pointer;" onclick="fnConnectWS();">&nbsp;</span>
                            </div>
                            <div class="col-1" style="text-align: right;">
                                <span class="badge rounded-pill text-bg-primary" style="height: 30px; width: 30px; cursor:pointer;" onclick="fnSubscribe();" title="Subscribe to WebSocket">&nbsp;</span>
                            </div>
                            <div class="col-1" style="text-align: right;">
                                <span class="badge rounded-pill text-bg-danger" style="height: 30px; width: 30px; cursor:pointer;" onclick="fnCloseWS();">&nbsp;</span>
                            </div>
                            <div class="col-1" style="text-align: right;">
                                <a data-bs-toggle="collapse" href="#divTraderClps" role="button" aria-expanded="true" aria-controls="divTraderClps">
                                    <i class="fa fa-caret-square-o-down" aria-hidden="true" style="color: orangered;"></i>
                                </a>
                            </div>                                    
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="collapse show" id="divTraderClps">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-3">
                                        Symbols List
                                    </div>
                                    <div class="col-3">
                                        Quantity
                                    </div>
                                    <div class="col-2">
                                        Lot Size
                                    </div>
                                    <div class="col-2">
                                        Select Expiry
                                    </div>
                                    <div class="col-2">
                                        Delta
                                    </div>

                                    <div class="col-3">
                                        <select id="ddlSymbols" class="form-select" onchange="fnSetSymbolData(this.value);" placeholder="Select Symbol" title="SYMBOL">
                                            <option value=''>Select Symbol</option>
                                            <option value='BTC' selected>BTCUSD</option>
                                            <option value='ETH'>ETHUSD</option>
                                        </select>
                                    </div>
                                    <div class="col-3">
                                        <input type="number" min="1" class="form-control" placeholder="Quantity" id="txtQty" value="1" />
                                    </div>
                                    <div class="col-2">
                                        <input type="text" value="0.001" id="txtLotSize" class="form-control" />
                                    </div>
                                    <div class="col-2">
                                        <input type="date" class="form-control" placeholder="Sell Leg Date" id="txtExpDate" value="" />
                                    </div>
                                    <div class="col-2">
                                        <input type="number" value="0.53" id="txtSellDelta" class="form-control" onblur="fnSetDefDelta(this);" />
                                    </div>

                                    <div class="col-2">Stop Loss %</div>
                                    <div class="col-2">Take Profit %</div>
                                    <div class="col-2">Loss Recovery %</div>
                                    <div class="col-2">X-Multiplier</div>
                                    <div class="col-4"></div>

                                    <div class="col-2">
                                        <input type="number" class="form-control" placeholder="SL Percent" id="txtPercentSL" />
                                    </div>
                                    <div class="col-2">
                                        <input type="number" class="form-control" placeholder="TP Percent" id="txtPercentTP" />
                                    </div>
                                    <div class="col-2">
                                        <input type="number" class="form-control" placeholder="Loss Recover %" id="txtLossRecvPerct" value="50" onchange="fnUpdateLossRecPrct(this);" />
                                    </div>
                                    <div class="col-2">
                                        <input type="number" class="form-control" placeholder="Multiplier X Times" id="txtMultiplierX" value="2.0" onchange="fnUpdateMultiplierX(this);" />
                                    </div>
                                    <div class="col-2">
                                        <div class="d-grid gap-1">
                                            <button class="btn btn-outline-warning" onclick="fnUpdateSlTp();"><b>UPDATE</b></button>
                                        </div>
                                    </div>
                                    <div class="col-2"></div>

                                    <div class="col-2">Best Buying Price</div>
                                    <div class="col-2">Mark Price</div>
                                    <div class="col-2">Best Selling Price</div>
                                    <div class="col-2"></div>
                                    <div class="col-2"></div>
                                    <div class="col-2"></div>

                                    <div class="col-2">
                                        <input type="number" class="form-control" placeholder="Best Buy Price" id="txtBestBuyPrice" />
                                    </div>
                                    <div class="col-2">
                                        <input type="number" class="form-control" placeholder="Spot Price" id="txtSpotPrice" />
                                    </div>
                                    <div class="col-2">
                                        <input type="number" class="form-control" placeholder="Best Sell Price" id="txtBestSellPrice" />
                                    </div>
                                    <div class="col-1">
                                        <div class="d-grid gap-1">
                                            <button class="btn btn-outline-success" onclick="fnManualSubStart();" style="display: block;"><b>START</b></button>
                                        </div>
                                    </div>
                                    <div class="col-1">
                                         <div class="d-grid gap-1">
                                            <button class="btn btn-outline-danger" onclick="fnManualSubStop();" style="display: block;"><b>STOP</b></button>
                                        </div>
                                    </div>

                                    <div class="col-4">
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" placeholder="Strike Price" id="txtStrikePrice" />
                                            <button class="btn btn-success" type="button" onclick="fnStartStrikeSub();"><i class="fa fa-play" aria-hidden="true"></i></button>
                                            <button class="btn btn-danger" type="button" onclick="fnStopStrikeSub();"><i class="fa fa-stop" aria-hidden="true"></i></button>
                                        </div>
                                    </div>

                                    <div style="display: none;">
                                        <div class="col-2">Open</div>
                                        <div class="col-2">High</div>
                                        <div class="col-2">Low</div>
                                        <div class="col-2">Close</div>
                                        <div class="col-4"></div>
                                        <div class="col-2">
                                            <input type="number" class="form-control" placeholder="Candle Open Price" id="txtCandleOpen" />
                                        </div>
                                        <div class="col-2">
                                            <input type="number" class="form-control" placeholder="Candle High Price" id="txtCandleHigh" />
                                        </div>
                                        <div class="col-2">
                                            <input type="number" class="form-control" placeholder="Candle Low Price" id="txtCandleLow" />
                                        </div>
                                        <div class="col-2">
                                            <input type="number" class="form-control" placeholder="Candle Close Price" id="txtCandleClose" />
                                        </div>
                                        <div class="col-4">
                                            <div class="d-grid gap-1">
                                                <button class="btn btn-outline-primary" onclick="fnGetHistoricalOHLC();" style="display: block;"><b>Get Historical OHLC</b></button>
                                            </div>
                                        </div>
                                    </div>
                                    <br/><br/>

                                    <hr/>
                                    <div class="col-3">
                                        <div class="d-grid gap-1">
                                            <button class="btn btn-outline-warning" onclick="fnCloseManualFutures('C');"><b>EXIT CALL</b></button>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="d-grid gap-1">
                                            <button class="btn btn-outline-danger" onclick="fnInitManualSellOpt('C');"><b>SELL CALL</b></button>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="d-grid gap-1">
                                            <button class="btn btn-outline-warning" onclick="fnCloseManualFutures('P');"><b>EXIT PUT</b></button>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="d-grid gap-1">
                                            <button class="btn btn-outline-success" onclick="fnInitManualSellOpt('P');"><b>SELL PUT</b></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" id="cardOpenPosition">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-3">
                                <h4>Open Position(s)</h4>
                            </div>
                            <div class="col-3">
                                <div class="form-check form-switch fs-6" style="white-space: nowrap;">
                                    <input class="form-check-input  me-0" type="checkbox" checked style="cursor: pointer" id="swtMultiLeg" name="swtMultiLeg" onchange="fnChangeMultiLeg();" />
                                    <label for="swtMultiLeg" style="cursor:pointer;text-wrap:nowrap;">Multi Leg</label>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-check form-switch fs-6" style="white-space: nowrap;">
                                    <input class="form-check-input  me-0" type="checkbox" checked style="cursor: pointer" id="swtMartingale" name="swtMartingale" onchange="fnChangeMartingale();" />
                                    <label for="swtMartingale" style="cursor:pointer;text-wrap:nowrap;">Martingale</label>
                                </div>
                            </div>
                            <div class="col-1" style="text-align: right;">
                                <button class='nav-link' onclick="fnClearLocalStorageTemp();" role="tab" type="button">Clear All</button>
                            </div>
                            <div class="col-2" style="text-align: right;">
                                <span id="spnLossTrd" class="badge rounded-pill text-bg-danger" style="height: 30px; width: 30px;">&nbsp;</span>
                            </div>
                            <div class="col-1" style="text-align: right;">
                                <a data-bs-toggle="collapse" href="#divOpenPosClps" role="button" aria-expanded="true" aria-controls="divOpenPosClps">
                                    <i class="fa fa-caret-square-o-down" aria-hidden="true" style="color: orangered;"></i>
                                </a>
                            </div>                       
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="collapse show" id="divOpenPosClps">
                            <div class="container-fluid">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr style="text-align:center;">
                                                <th scope="col" style="text-wrap: nowrap;">Actions</th>
                                                <th scope="col" style="text-wrap: nowrap;">Start Date Time</th>
                                                <th scope="col" style="text-wrap: nowrap;">Delta</th>
                                                <th scope="col" style="text-wrap: nowrap;">Symbol</th>
                                                <th scope="col" style="text-wrap: nowrap;">Tr Type</th>
                                                <th scope="col" style="text-wrap: nowrap;">Lot Sz</th>
                                                <th scope="col" style="text-wrap: nowrap;">Qty</th>
                                                <th scope="col" style="text-wrap: nowrap;">Buy Price</th>
                                                <th scope="col" style="text-wrap: nowrap;">Sell Price</th>
                                                <th scope="col" style="text-wrap: nowrap;">Capital</th>
                                                <th scope="col" style="text-wrap: nowrap;">Charges</th>
                                                <th scope="col" style="text-wrap: nowrap;">P &amp; L</th>
                                                <th scope="col" style="text-wrap: nowrap;">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tBodyCurrTrades">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6"></div>
                                <div class="col-2"></div>
                                <div class="col-1">
                                </div>
                                <div class="col-3">
                                </div>
                                <div class="col-2">
                                    <div class="d-grid gap-1">
                                        <button id="btn50PerClose" class="btn btn-outline-warning" onclick="fnClosePrctTrade();"  disabled><b>EXIT 50% QTY</b></button>
                                    </div>
                                </div>

                                <div style="display: none;">
                                    <div class="col-2">
                                        <input type="text" class="form-control" placeholder="Order Id" id="hidClientOrderId" />
                                    </div>
                                    <div class="col-2"></div>
                                    <div class="col-2">
                                        <div class="d-grid gap-1">
                                            <button class="btn btn-outline-primary" onclick="fnPlaceLimitOrder();"><b>Place Limit Order</b></button>
                                        </div>
                                    </div>
                                    <div class="col-6"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" id="cardClosedPositions">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-3">
                                <h4>Closed Position(s)</h4>
                            </div>
                            <div class="col-1" style="font-weight: bold;">
                            </div>
                            <div class="col-1" style="font-weight: bold;">
                                P&L: 
                            </div>
                            <div class="col-1" id="tdHeadPL">
                                0.00
                            </div>
                            <div class="col-2" style="font-weight: bold;">
                                Yet to Recover:
                            </div>
                            <div class="col-2">
                                <span id="spnYtRL" style="text-align:left;font-weight:bold;color:red;">0.00</span>
                            </div>
                            <!-- <div class="col-1">
                                Brk Rec: 
                            </div>
                            <div class="col-1" id="tdHeadBrkRec">
                                0.00
                            </div> -->
                            <div class="col-1">
                                <i class="fa fa-refresh" aria-hidden="true" style="color: skyblue; cursor: pointer;" onclick="fnLoadTodayTrades();"></i>
                            </div>
                            <div class="col-1" style="text-align: right;">
                                <a data-bs-toggle="collapse" href="#divClosedPosClps" role="button" aria-expanded="true" aria-controls="divClosedPosClps">
                                    <i class="fa fa-caret-square-o-down" aria-hidden="true" style="color: orangered;"></i>
                                </a>
                            </div>                            
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="collapse show" id="divClosedPosClps">
                            <div class="container-fluid">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr style="text-align:center;">
                                                <th scope="col" style="text-wrap: nowrap;">Start Date Time</th>
                                                <th scope="col" style="text-wrap: nowrap;">End Date Time</th>
                                                <th scope="col" style="text-wrap: nowrap;">Symbol</th>
                                                <th scope="col" style="text-wrap: nowrap;">Tr Type</th>
                                                <th scope="col" style="text-wrap: nowrap;">Lot Sz</th>
                                                <th scope="col" style="text-wrap: nowrap;">Qty</th>
                                                <th scope="col" style="text-wrap: nowrap;">Buy Price</th>
                                                <th scope="col" style="text-wrap: nowrap;">Sell Price</th>
                                                <th scope="col" style="text-wrap: nowrap;">Capital</th>
                                                <th scope="col" style="text-wrap: nowrap;">Charges</th>
                                                <th scope="col" style="text-wrap: nowrap;">P &amp; L</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tBodyTodayPaperTrades">
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<%- include('partials/deltaFutSettings.ejs') %>

<script src="/js/deltaOptScalperDemo.js"></script>
<script src="/js/deltaOptScalperSettings.js"></script>