<div id="main" class="container-xxl">
    <div class="page-heading">
        <div class="row">
            <div class="col-4">
                <h3>Delta - Short Strangle Demo</h3>
            </div>
            <div class="col-4 text-center">
                <span class="badge bg-warning" id="spnGenMsg">Hi, Welcome</span>
            </div>
            <div class="col-4" style="text-align: right;">
                
            </div>
        </div>
    </div>
    <div class="page-content">
        <section class="row">
            <div class="col-12 col-lg-12">
                <div class="row" style="text-align: center;">
                    <div class="col-6 col-lg-4 col-md-6">
                        <button class="badge bg-danger" onclick="fnShowTraderLoginMdl(this);" id="btnTraderStatus">Trader - Invalid</button>
                    </div>
                    <div class="col-6 col-lg-4 col-md-6">
                        <button class="badge bg-danger" onclick="fnToggleAutoTrader();" id="btnAutoTraderStatus">Auto Trader - OFF</button>
                    </div>
                    <div class="col-6 col-lg-4 col-md-6">
                        <button class="badge bg-success" onclick="fnPositionStatus();" id="btnPositionStatus">No Open Position</button>
                    </div>
                    <div class="col-12">&nbsp;</div>
                </div>
            </div>
        </section>
        <section class="row">
            <div class="col-12">
                <div class="card" id="cardManualTrader">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-2">
                                <h4>Manual Trader</h4>
                            </div>
                            <div class="col-1">
                                <form name="frmSide" id="frmSide">
                                    <div class="tw-toggle" style="white-space: nowrap;">
                                        <input id="txtBN1" type="radio" name="rdoTradeSide" value="false" onclick="fnTradeSide();" />
                                        <label class="toggle toggle-yes" for="txtBN1"><i class="fa fa-arrow-down"></i></label>
                                        <input id="txtBN2" checked type="radio" name="rdoTradeSide" value="-1" onclick="fnTradeSide();" />
                                        <label class="toggle toggle-yes" for="txtBN2"><i class="fa fa-minus"></i></label>
                                        <input id="txtBN3" type="radio" name="rdoTradeSide" value="true" onclick="fnTradeSide();" />
                                        <label class="toggle toggle-yes" for="txtBN3"><i class="fa fa-arrow-up"></i></label>
                                        <span></span>
                                        <label for="txtBN1">Side</label>
                                    </div>
                                </form>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-1">
                                
                            </div>
                            <div class="col-1"></div>
                            <div class="col-1">
                                
                            </div>
                            <div class="col-1"></div>
                            <div class="col-1" style="text-align: right;">
                                <span class="badge rounded-pill text-bg-primary" style="height: 30px; width: 30px; cursor:pointer;" onclick="fnConnectDFL();">&nbsp;</span>
                            </div>
                            <div class="col-1" style="text-align: right;">
                                <span id="spnSub" class="badge rounded-pill text-bg-success" style="height: 30px; width: 30px; cursor:pointer;" onclick="fnSubscribeDFL();" title="Subscribe to WebSocket">&nbsp;</span>
                            </div>
                            <div class="col-1" style="text-align: right;">
                                <span class="badge rounded-pill text-bg-danger" style="height: 30px; width: 30px; cursor:pointer;" onclick="fnForceDisconnectDFL();">&nbsp;</span>
                            </div>
                            <div class="col-1" style="text-align: right;">
                                <a data-bs-toggle="collapse" href="#divTraderClps" role="button" aria-expanded="true" aria-controls="divTraderClps">
                                    <i class="fa fa-caret-square-o-down" style="color: orangered;"></i>
                                </a>
                            </div>                                    
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="collapse show" id="divTraderClps">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-2">Symbols List</div>
                                    <div class="col-2">Lot Size</div>
                                    <div class="col-2">Order Type</div>
                                    <div class="col-2">Futures SL-Points</div>
                                    <div class="col-2">Futures TP-Points</div>
                                    <div class="col-2">BS Futures Qty</div>

                                    <div class="col-2">
                                        <select id="ddlSymbols" class="form-select" onchange="fnSetSymbolData(this.value);" placeholder="Select Symbol" title="SYMBOL">
                                            <option value=''>Select Symbol</option>
                                            <option value='BTC' selected>BTCUSD</option>
                                            <option value='ETH'>ETHUSD</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <input type="text" value="0.001" id="txtLotSize" class="form-control" />
                                    </div>
                                    <div class="col-2">
                                        <select id="ddlOrderType" class="form-select" placeholder="Select Order Type">
                                            <option value='limit_order'>Limit Order</option>
                                            <option value='market_order' selected>Market Order</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <input type="number" class="form-control" min="1" value="100" id="txtFutSL" onchange="fnUpdFutStratSettings(this.value, 'PointsSL', 'Futures Stop Loss Points!', true, 'F');" title="Futures SL Points" />
                                    </div>
                                    <div class="col-2">
                                        <input type="number" class="form-control" min="1" value="1000" id="txtFutTP" onchange="fnUpdFutStratSettings(this.value, 'PointsTP', 'Futures Take Profit Points!', true, 'F');" title="Futures TP Points" />
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group mb-3">
                                            <button class="btn btn-danger" type="button" onclick="fnPreInitAutoFutTrade('F', 'SELL');"><b>S</b></button>
                                            <input type="text" value="100" id="txtFutQty" class="form-control" style="text-align: center;" title="Futures Qty" onchange="fnUpdFutStratSettings(this.value, 'StartFutQty', 'Futures Qty!', false, 'F', 'LotQty');" />
                                            <button class="btn btn-success" type="button" onclick="fnPreInitAutoFutTrade('F', 'BUY');"><b>B</b></button>
                                        </div>
                                    </div>

                                    <div class="col-1" style="text-align: center;">Sell CE</div>
                                    <div class="col-1" style="text-align: center;">Sell PE</div>
                                    <div class="col-2">Sell Expiry Type</div>
                                    <div class="col-2">Select Sell Expiry</div>
                                    <div class="col-1">S-Qty</div>
                                    <div class="col-1">N-Sl D</div>
                                    <div class="col-1">R-Sl D</div>
                                    <div class="col-1">TP D</div>
                                    <div class="col-1">SL D</div>
                                    <div class="col-1"></div>

                                    <div class="col-1" style="text-align: center;">
                                        <input type="checkbox" class="form-check-input" id="chkSellCE" onchange="fnUpdOptStratSettings(this, this.checked, 'NewSellCE', 'Sell CE!', false, 'sell', '', '');" title="Select to Sell New Call" />
                                    </div>
                                    <div class="col-1" style="text-align: center;">
                                        <input type="checkbox" class="form-check-input" id="chkSellPE" onchange="fnUpdOptStratSettings(this, this.checked, 'NewSellPE', 'Sell PE!', false, 'sell', '', '');" title="Select to Sell New Put" />
                                    </div>
                                    <div class="col-2">
                                        <select id="ddlSellExpiryMode" class="form-select" onchange="fnUpdateSellExpiryMode();" placeholder="Select Sell Expiry Mode" title="Select Sell Leg Expiry Mode">
                                            <option value=1>DAILY</option>
                                            <option value=4>WEEKLY</option>
                                            <option value=5>BI-WEEKLY</option>
                                            <option value=6>MONTHLY</option>
                                            <option value=7>BI-MONTHLY</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <input type="date" class="form-control" placeholder="Sell Expiry" id="txtExpSell" value="" title="Select / Input Sell Leg Expiry Date" />
                                    </div>
                                    <div class="col-1">
                                        <input type="number" class="form-control" min="1" value="1" id="txtStartSQty" onchange="fnUpdOptStratSettings(this, this.value, 'StartSellQty', 'Sell Qty!', false, 'sell', '', 'LotQty');" title="Sell Leg Qty in Lots" />
                                    </div>
                                    <div class="col-1">
                                        <input type="number" class="form-control" min="0.0" max="2.0" placeholder="New Sell Delta" id="txtNewSellDelta" value="" onchange="fnUpdOptStratSettings(this, this.value, 'NewSellDelta', 'New Sell Delta!', false, 'sell', '', 'DeltaNP');" title="New Sell Leg Delta" />
                                    </div>
                                    <div class="col-1">
                                        <input type="number" class="form-control" min="0.0" max="2.0" placeholder="Re-Entry Sell Delta" id="txtReSellDelta" value="" onchange="fnUpdOptStratSettings(this, this.value, 'ReSellDelta', 'Re-Sell Delta!', true, 'sell', '', 'DeltaNP');" title="Re-Entry Sell Leg Delta" />
                                    </div>
                                    <div class="col-1">
                                        <input type="number" class="form-control" min="0.0" max="2.0" placeholder="TP Delta" id="txtDeltaSellTP" value="" onchange="fnUpdOptStratSettings(this, this.value, 'SellDeltaTP', 'Sell Delta Take Profit!', true, 'sell', '', 'DeltaTP');" title="Sell Leg Take Profit Delta" />
                                    </div>
                                    <div class="col-1">
                                        <input type="number" class="form-control" min="0.0" max="2.0" placeholder="SL Delta" id="txtDeltaSellSL" value="" onchange="fnUpdOptStratSettings(this, this.value, 'SellDeltaSL', 'Sell Delta Stop Loss!', true, 'sell', '', 'DeltaSL');" title="Sell Leg Stop Loss Delta" />
                                    </div>
                                    <div class="col-1"></div>


                                    <div class="col-1" style="text-align: center;">Buy CE</div>
                                    <div class="col-1" style="text-align: center;">Buy PE</div>
                                    <div class="col-2">Buy Expiry Type</div>
                                    <div class="col-2">Select Buy Expiry</div>
                                    <div class="col-1">B-Qty</div>
                                    <div class="col-1">N-By D</div>
                                    <div class="col-1">R-By D</div>
                                    <div class="col-1">TP D</div>
                                    <div class="col-1">SL D</div>
                                    <div class="col-1"></div>

                                    <div class="col-1" style="text-align: center;">
                                        <input type="checkbox" class="form-check-input" id="chkBuyCE" onchange="fnUpdOptStratSettings(this, this.checked, 'NewBuyCE', 'New Buy CE!', false, 'buy', '', '');" title="Select to Buy New Call" />
                                    </div>
                                    <div class="col-1" style="text-align: center;">
                                        <input type="checkbox" class="form-check-input" id="chkBuyPE" onchange="fnUpdOptStratSettings(this, this.checked, 'NewBuyPE', 'New Buy PE!', false, 'buy', '', '');" title="Select to Buy New Put" />
                                    </div>
                                    <div class="col-2">
                                        <select id="ddlBuyExpiryMode" class="form-select" onchange="fnUpdateBuyExpiryMode();" placeholder="Select Buy Expiry Mode" title="Select Buy Leg Expiry Mode">
                                            <option value=1>DAILY</option>
                                            <option value=4>WEEKLY</option>
                                            <option value=5>BI-WEEKLY</option>
                                            <option value=6>MONTHLY</option>
                                            <option value=7>BI-MONTHLY</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <input type="date" class="form-control" placeholder="Buy Expiry" id="txtExpBuy" value="" title="Select / Input Buy Leg Expiry Date" />
                                    </div>
                                    <div class="col-1">
                                        <input type="number" class="form-control" min="1" value="1" id="txtStartBQty" onchange="fnUpdOptStratSettings(this, this.value, 'StartBuyQty', 'Buy Qty!', false, 'buy', '', 'LotQty');" title="Buy Leg Qty in LOTS" />
                                    </div>
                                    <div class="col-1">
                                        <input type="number" class="form-control" min="0.0" max="2.0" placeholder="New Buy Delta" id="txtNewBuyDelta" value="" onchange="fnUpdOptStratSettings(this, this.value, 'NewBuyDelta', 'New Buy Leg Delta!', false, 'buy', '', 'DeltaNP');" title="New Buy Leg Delta" />
                                    </div>
                                    <div class="col-1">
                                        <input type="number" class="form-control" min="0.0" max="2.0" placeholder="Re-Entry Buy Delta" id="txtReBuyDelta" value="" onchange="fnUpdOptStratSettings(this, this.value, 'ReBuyDelta', 'Re-Buy Leg Delta!', true, 'buy', '', 'DeltaNP');" title="Re-Entry Buy Leg Delta" />
                                    </div>
                                    <div class="col-1">
                                        <input type="number" class="form-control" min="0.0" max="2.0" placeholder="TP Delta" id="txtDeltaBuyTP" value="" onchange="fnUpdOptStratSettings(this, this.value, 'BuyDeltaTP', 'Buy Delta Take Profit!', true, 'buy', '', 'DeltaTP');" title="Buy Leg Take Proft Delta" />
                                    </div>
                                    <div class="col-1">
                                        <input type="number" class="form-control" min="0.0" max="2.0" placeholder="SL Delta" id="txtDeltaBuySL" value="" onchange="fnUpdOptStratSettings(this, this.value, 'BuyDeltaSL', 'Buy Delta Stop Loss!', true, 'buy', '', 'DeltaSL');" title="Buy Leg Stop Loss Delta" />
                                    </div>
                                    <div class="col-1"></div>

                                    <div class="col-2">
                                        <div class="d-grid gap-1">
                                            <button class="btn btn-outline-warning" onclick="fnExecAllLegs();"><b>Exec All Legs</b></button>
                                        </div>
                                    </div>
                                    <div class="col-2"></div>
                                    <div class="col-2">
                                        <div class="d-grid gap-1">
                                            <button class="btn btn-outline-success" onclick="fnPreInitAutoTrade('P', 'sell');"><b>SELL PE</b></button>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="d-grid gap-1">
                                            <button class="btn btn-outline-danger" onclick="fnPreInitAutoTrade('C', 'sell');"><b>SELL CE</b></button>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="d-grid gap-1">
                                            <button class="btn btn-outline-success" onclick="fnPreInitAutoTrade('C', 'buy');"><b>BUY CE</b></button>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="d-grid gap-1">
                                            <button class="btn btn-outline-danger" onclick="fnPreInitAutoTrade('P', 'buy');"><b>BUY PE</b></button>
                                        </div>
                                    </div>


                                    <div style="display: none;">
                                        <div class="col-2">
                                            <input type="date" class="form-control" placeholder="Daily Expiry" id="txtDayExpiry" value="" />
                                        </div>
                                        <div class="col-2">
                                            <input type="date" class="form-control" placeholder="Weekly Expiry" id="txtWeekExpiry" value="" />
                                        </div>
                                        <div class="col-2">
                                            <input type="date" class="form-control" placeholder="Monthly Expiry" id="txtMonthExpiry" value="" />
                                        </div>
                                        <div class="col-2">
                                            <div class="d-grid gap-1">
                                                <button class="btn btn-outline-success" onclick="fnGetDelta();"><b>Get Deltas</b></button>
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="d-grid gap-1">
                                                <button class="btn btn-outline-success" onclick="fnDisplayDeltaDirec();"><b>Display Deltas</b></button>
                                            </div>
                                        </div>
                                        <div class="col-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" id="cardOpenPosition">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-3">
                                <h4>Open Position(s)</h4>
                            </div>
                            <div class="col-2"></div>
                            <div class="col-1"></div>
                            <div class="col-2">
                                <div class="form-check form-switch fs-6" style="white-space: nowrap;">
                                    <input class="form-check-input  me-0" type="checkbox" checked style="cursor: pointer" id="swtStepDFL" name="swtStepDFL" onchange="fnChangeStep();" />
                                    <label for="swtStepDFL" style="cursor:pointer;text-wrap:nowrap;">Step Qty</label>
                                </div>
                            </div>
                            <div class="col-1" style="text-align: right;">
                                <button class='nav-link' onclick="fnClearLocalStorageTemp();" role="tab" type="button">Clear All</button>
                            </div>
                            <div class="col-1"><i class="fa fa-refresh" aria-hidden="true" style="color: skyblue; cursor: pointer;" onclick="fnRefreshAllOpenBrowser();"></i></div>
                            <div class="col-1" style="text-align: right;">
                                <span id="spnLossTrd" class="badge rounded-pill text-bg-danger" style="height: 30px; width: 30px;" onclick="fnTest();">&nbsp;</span>
                            </div>
                            <div class="col-1" style="text-align: right;">
                                <a data-bs-toggle="collapse" href="#divOpenPosClps" role="button" aria-expanded="true" aria-controls="divOpenPosClps">
                                    <i class="fa fa-caret-square-o-down" aria-hidden="true" style="color: orangered;"></i>
                                </a>
                            </div>                       
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="collapse show" id="divOpenPosClps">
                            <div class="container-fluid">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr style="text-align:center;">
                                                <th scope="col" style="text-wrap: nowrap;">Status</th>
                                                <th scope="col" style="text-wrap: nowrap;">Delta</th>
                                                <!-- <th scope="col" style="text-wrap: nowrap;">Gamma</th>
                                                <th scope="col" style="text-wrap: nowrap;">Vega</th>
                                                <th scope="col" style="text-wrap: nowrap;">IV</th>
                                                <th scope="col" style="text-wrap: nowrap;">Rho</th>
                                                <th scope="col" style="text-wrap: nowrap;">Theta</th> -->
                                                <th scope="col" style="text-wrap: nowrap;">Symbol</th>
                                                <th scope="col" style="text-wrap: nowrap;">Tr Type</th>
                                                <th scope="col" style="text-wrap: nowrap;">Lot Sz</th>
                                                <th scope="col" style="text-wrap: nowrap;">Qty</th>
                                                <th scope="col" style="text-wrap: nowrap;">Buy Price</th>
                                                <th scope="col" style="text-wrap: nowrap;">Sell Price</th>
                                                <th scope="col" style="text-wrap: nowrap;">Charges</th>
                                                <th scope="col" style="text-wrap: nowrap;">P &amp; L</th>
                                                <th scope="col" style="text-wrap: nowrap;">Start DT</th>
                                                <th scope="col" style="text-wrap: nowrap;">End DT</th>
                                                <th scope="col" style="text-wrap: nowrap;">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tBodyCurrTrades">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card" id="cardDeltaDirec">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-3">
                                <h4>Delta Direction</h4>
                            </div>
                            <div class="col-6"></div>
                            <div class="col-2" style="text-align: right;">
                            </div>
                            <div class="col-1" style="text-align: right;">
                                <a data-bs-toggle="collapse" href="#divTraderClps" role="button" aria-expanded="true" aria-controls="divTraderClps">
                                    <i class="fa fa-caret-square-o-down" style="color: orangered;"></i>
                                </a>
                            </div>                                    
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="collapse show" id="divTraderClps">
                            <div class="container-fluid">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr style="text-align:center;">
                                                <th scope="col" style="text-wrap: nowrap;">Dated</th>
                                                <th scope="col" style="text-wrap: nowrap;">Daily Call</th>
                                                <th scope="col" style="text-wrap: nowrap;">Daily Put</th>
                                                <th scope="col" style="text-wrap: nowrap;">Direc</th>
                                                <th scope="col" style="text-wrap: nowrap;">Weekly Call</th>
                                                <th scope="col" style="text-wrap: nowrap;">Weekly Put</th>
                                                <th scope="col" style="text-wrap: nowrap;">Direc</th>
                                                <th scope="col" style="text-wrap: nowrap;">Monthly Call</th>
                                                <th scope="col" style="text-wrap: nowrap;">Monthly Put</th>
                                                <th scope="col" style="text-wrap: nowrap;">Direc</th>
                                                <th scope="col" style="text-wrap: nowrap;">OA Direc</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tBodyDeltas">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<%- include('partials/deltaShortStrangleSettingsD.ejs') %>

<script src="/js/deltaShortStrangleD.js"></script>
<script src="/js/deltaStortStrangleSettingsD.js"></script>