<div id="main" class="container-xxl">
    <div class="page-heading">
        <div class="row">
            <div class="col-4">
                <h3>Delta - Calendar Demo</h3>
            </div>
            <div class="col-4 text-center">
                <span class="badge bg-warning" id="spnGenMsg">Hi, Welcome</span>
            </div>
            <div class="col-4" style="text-align: right;">
                <a href="javascript: void(null);" class="btn btn-outline-primary" onclick="fnChangeLater();"><i class="fa fa-cogs" aria-hidden="true" style="color: orangered;"></i>Settings</a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <section class="row">
            <div class="col-12 col-lg-12">
                <div class="row" style="text-align: center;">
                    <div class="col-6 col-lg-4 col-md-6">
                        <button class="badge bg-danger" onclick="fnShowTraderLoginMdl(this);" id="btnTraderStatus">Trader - Invalid</button>
                    </div>
                    <div class="col-6 col-lg-4 col-md-6">
                        <button class="badge bg-danger" onclick="fnToggleAutoTrader();" id="btnAutoTraderStatus">Auto Trader - OFF</button>
                    </div>
                    <div class="col-6 col-lg-4 col-md-6">
                        <button class="badge bg-success" onclick="fnPositionStatus()" id="btnPositionStatus">No Open Position</button>
                    </div>
                    <div class="col-12">&nbsp;</div>
                </div>
            </div>
        </section>
        <section class="row">
            <div class="col-12">
                <div class="card" id="cardManualTrader">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-3">
                                <h4>Manual Trader</h4>
                            </div>
                            <div class="col-1">
                                <span class="badge rounded-pill text-bg-warning" style="height: 30px; width: 30px; cursor:pointer;" onclick="fnOpenStrategyEditor();" title="Manage">&nbsp;</span>
                            </div>
                            <div class="col-2" style="text-align: right;">Start With </div>
                            <div class="col-1"><input type="text" class="form-control" min="1" value="1" id="txtStartQty" onchange="fnChangeStartQty(this);" /></div>
                            <div class="col-1"> Qty</div>
                            <div class="col-1" style="text-align: right;">
                                <span class="badge rounded-pill text-bg-success" style="height: 30px; width: 30px; cursor:pointer;" onclick="fnConnectWS();" title="Connect WebSocket">&nbsp;</span>
                            </div>
                            <div class="col-1" style="text-align: right;">
                                <span class="badge rounded-pill text-bg-primary" style="height: 30px; width: 30px; cursor:pointer;" onclick="fnSubscribe();" title="Subscribe to WebSocket">&nbsp;</span>
                            </div>
                            <div class="col-1" style="text-align: right;">
                                <span class="badge rounded-pill text-bg-danger" style="height: 30px; width: 30px; cursor:pointer;" onclick="fnCloseWS();" title="Disconnect WebSocket">&nbsp;</span>
                            </div>
                            <div class="col-1" style="text-align: right;">
                                <a data-bs-toggle="collapse" href="#divTraderClps" role="button" aria-expanded="true" aria-controls="divTraderClps">
                                    <i class="fa fa-caret-square-o-down" aria-hidden="true" style="color: orangered;"></i>
                                </a>
                            </div>                                    
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="collapse show" id="divTraderClps">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-2">
                                        Strategy
                                    </div>
                                    <div class="col-2">
                                        Select Symbol
                                    </div>
                                    <div class="col-2">
                                        Lot Size
                                    </div>
                                    <!-- <div class="col-2">
                                        Select Expiry Type
                                    </div> -->
                                    <div class="col-3">
                                        Sell Expiry Date
                                    </div>
                                    <div class="col-3">
                                        Buy Expiry Date
                                    </div>

                                    <div class="col-2">
                                        <div class="input-group mb-3">
                                            <select id="ddlStrategy" class="form-select" onchange="fnSetStratDetails(this.value);" placeholder="Select Strategy" title="Select Strategy">
                                            </select>
                                            <button class="btn btn-success" type="button" onclick="fnOpenStrategyDialog();"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <select id="ddlSymbols" class="form-select" onchange="fnSetSymbolData(this.value);" placeholder="Select Symbol" title="BTC">
                                            <option value=''>Select Symbol</option>
                                            <option value='BTC' selected>BTCUSD</option>
                                            <option value='ETH'>ETHUSD</option>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <input type="text" value="0.001" id="txtLotSize" class="form-control" />
                                    </div>
                                    <!-- <div class="col-2">
                                        <select id="ddlDateTypes" class="form-select" onchange="fnUpdateDates();" placeholder="Date Types">
                                            <option value=0>Daily</option>
                                            <option value=1>Weekly</option>
                                            <option value=2>Monthly</option>
                                        </select>
                                    </div> -->
                                    <div class="col-3">
                                        <input type="date" class="form-control" placeholder="Sell Leg Date" id="txtSellLegDate" value="" />
                                    </div>
                                    <div class="col-3">
                                        <input type="date" class="form-control" placeholder="Buy Leg Date" id="txtBuyLegDate" value="" />
                                    </div>

                                    <div class="col-3">Exit All at Loss %</div>
                                    <div class="col-3">Exit All at Profit %</div>
                                    <div class="col-3"></div>
                                    <div class="col-3"></div>

                                    <div class="col-3">
                                        <input type="text" value="50" id="txtExitLossPer" class="form-control" />
                                    </div>
                                    <div class="col-3">
                                        <input type="text" value="50" id="txtExitProfitPer" class="form-control" />
                                    </div>
                                    <div class="col-3">
                                        <div class="d-grid gap-1">
                                            <button class="btn btn-outline-primary" onclick="fnManageStrategy();"><b>Manage Strategy</b></button>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="d-grid gap-1">
                                            <button class="btn btn-outline-success" onclick="fnGetOptionChain();"><b>Get Option Chain</b></button>
                                        </div>
                                    </div>

                                    <div class="col-3">
                                        <input type="hidden" placeholder="Sell CE Symbol" id="hidSellCESymb" class="form-control" />
                                    </div>
                                    <div class="col-3">
                                        <input type="hidden" placeholder="Sell PE Symbol" id="hidSellPESymb" class="form-control" />
                                    </div>
                                    <div class="col-3">
                                        <input type="hidden" placeholder="Buy CE Symbol" id="hidBuyCESymb" class="form-control" />
                                    </div>
                                    <div class="col-3">
                                        <input type="hidden" placeholder="Buy PE Symbol" id="hidBuyPESymb" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" id="cardOpenPosition">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-3">
                                <h4>Portfolio Position(s)</h4>
                            </div>
                            <div class="col-1">
                                Max-Profit:
                            </div>
                            <div class="col-1" id="divMaxProfit" style="color: green; font-weight: bold;">

                            </div>
                            <div class="col-1">
                                Max-Loss:
                            </div>
                            <div class="col-1" id="divMaxLoss" style="color: red; font-weight: bold;">

                            </div>
                            <div class="col-1">
                                <i class="fa fa-refresh" aria-hidden="true" style="color: orange; cursor: pointer;" onclick="fnLoadStrategyDetails();"></i>
                            </div>
                            <div class="col-1">
                                <i class="fa fa-link" aria-hidden="true" style="color: orange; cursor: pointer;" onclick="fnShowOCModal();"></i>
                            </div>
                            <div class="col-1" style="text-align: right;">
                                <i class="fa fa-refresh" aria-hidden="true" style="color: skyblue; cursor: pointer;" onclick="fnUpdateOpenPositions();"></i>
                            </div>
                            <div class="col-1" style="text-align: right;">
                                <button class='nav-link' onclick="fnClearLocalStorageTemp();" role="tab" type="button">Clear All</button>
                            </div>
                            <div class="col-1" style="text-align: right;">
                                <a data-bs-toggle="collapse" href="#divOpenPosClps" role="button" aria-expanded="true" aria-controls="divOpenPosClps">
                                    <i class="fa fa-caret-square-o-down" aria-hidden="true" style="color: orangered;"></i>
                                </a>
                            </div>                       
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="collapse show" id="divOpenPosClps">
                            <div class="container-fluid">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr style="text-align:center;">
                                                <th scope="col" style="text-wrap: nowrap;">Actions</th>
                                                <th scope="col" style="text-wrap: nowrap;">Start Date Time</th>
                                                <th scope="col" style="text-wrap: nowrap;">Delta</th>
                                                <th scope="col" style="text-wrap: nowrap;">Symbol</th>
                                                <th scope="col" style="text-wrap: nowrap;">Tr Type</th>
                                                <th scope="col" style="text-wrap: nowrap;">Lot Sz</th>
                                                <th scope="col" style="text-wrap: nowrap;">Qty</th>
                                                <th scope="col" style="text-wrap: nowrap;">Buy Price</th>
                                                <th scope="col" style="text-wrap: nowrap;">Sell Price</th>
                                                <th scope="col" style="text-wrap: nowrap;">Capital</th>
                                                <th scope="col" style="text-wrap: nowrap;">Charges</th>
                                                <th scope="col" style="text-wrap: nowrap;">P &amp; L</th>
                                                <th scope="col" style="text-wrap: nowrap;">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tBodyCurrTrades">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card" id="cardClosedPositions">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-3">
                                <h4>Closed Position(s)</h4>
                            </div>
                            <div class="col-1" style="font-weight: bold;">
                                P&L: 
                            </div>
                            <div class="col-1" id="tdHeadPL">
                                0.00
                            </div>
                            <div class="col-2" style="font-weight: bold;">

                            </div>
                            <div class="col-3">

                            </div>
                            <div class="col-1">
                                <i class="fa fa-refresh" aria-hidden="true" style="color: skyblue; cursor: pointer;" onclick="fnLoadTodayTrades();"></i>
                            </div>
                            <div class="col-1" style="text-align: right;">
                                <a data-bs-toggle="collapse" href="#divClosedPosClps" role="button" aria-expanded="true" aria-controls="divClosedPosClps">
                                    <i class="fa fa-caret-square-o-down" aria-hidden="true" style="color: orangered;"></i>
                                </a>
                            </div>                            
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="collapse show" id="divClosedPosClps">
                            <div class="container-fluid">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr style="text-align:center;">
                                                <th scope="col" style="text-wrap: nowrap;">Start Date Time</th>
                                                <th scope="col" style="text-wrap: nowrap;">End Date Time</th>
                                                <th scope="col" style="text-wrap: nowrap;">Symbol</th>
                                                <th scope="col" style="text-wrap: nowrap;">Tr Type</th>
                                                <th scope="col" style="text-wrap: nowrap;">Lot Sz</th>
                                                <th scope="col" style="text-wrap: nowrap;">Qty</th>
                                                <th scope="col" style="text-wrap: nowrap;">Buy Price</th>
                                                <th scope="col" style="text-wrap: nowrap;">Sell Price</th>
                                                <th scope="col" style="text-wrap: nowrap;">Charges</th>
                                                <th scope="col" style="text-wrap: nowrap;">P &amp; L</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tBodyTodayPaperTrades">
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<%- include('partials/deltaCalSettings.ejs') %>

<script src="/js/deltaCalendar.js"></script>
<script src="/js/deltaCalSettings.js"></script>