<div id="main" class="container-xxl">
    <div class="page-heading">
        <div class="row">
            <div class="col-4">
                <h3>Delta Exchange - Trader</h3>
            </div>
            <div class="col-4 text-center">
                <span class="badge bg-warning" id="spnGenMsg">Hi, Welcome</span>
            </div>
            <div class="col-4" style="text-align: right;">
                <a href="javascript: void(null);" class="btn btn-outline-primary" onclick="fnShowSettingsMdl();"><i class="fa fa-cogs" aria-hidden="true" style="color: orangered;"></i> Delta Settings</a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <section class="row">
            <div class="col-12 col-lg-12">
                <div class="row" style="text-align: center;">
                    <div class="col-6 col-lg-3 col-md-6">
                        <button class="badge bg-danger" onclick="fnShowTraderLoginMdl(this);" id="btnTraderStatus">TRADER - Disconnected</button>
                    </div>
                    <div class="col-6 col-lg-3 col-md-6">
                        <button class="badge bg-danger" onclick="fnToggleAutoTrader();" id="btnAutoTraderStatus">Auto Trader - OFF</button>
                    </div>
                    <div class="col-6 col-lg-3 col-md-6">
                        <button class="badge bg-warning" onclick="fnToggleRealTrade();" id="btnRealTradeStatus">Paper Trade - ON</button>
                    </div>
                    <div class="col-6 col-lg-3 col-md-6">
                        <button class="badge bg-success" onclick="fnPositionStatus()" id="btnPositionStatus">No Open Position</button>
                    </div>
                    <div class="col-12">&nbsp;</div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <div class="card" id="cardManualTrader" style="display: none;">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-3">
                                        <h4>Manual Trader</h4>
                                    </div>
                                    <div class="col-2">
                                        <div class="form-check form-switch fs-6" style="white-space: nowrap;">
                                            <input class="form-check-input  me-0" type="checkbox" style="cursor: pointer" id="swtStreaming" name="swtStreaming" onchange="fnChkStreamOpt();" />
                                            <label for="swtStreaming" style="cursor:pointer;">Streaming</label>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <form name="frmSide">
                                            <div class="tw-toggle" style="white-space: nowrap;">
                                                <input id="txtBN1" type="radio" name="rdoTradeSide" value="false" onclick="fnTradeSide();" />
                                                <label class="toggle toggle-yes" for="txtBN1"><i class="fa fa-arrow-down"></i></label>
                                                <input id="txtBN2" checked type="radio" name="rdoTradeSide" value="-1" onclick="fnTradeSide();" />
                                                <label class="toggle toggle-yes" for="txtBN2"><i class="fa fa-minus"></i></label>
                                                <input id="txtBN3" type="radio" name="rdoTradeSide" value="true" onclick="fnTradeSide();" />
                                                <label class="toggle toggle-yes" for="txtBN3"><i class="fa fa-arrow-up"></i></label>
                                                <span></span>
                                                <label for="TradeSide">Side</label>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-2" style="text-align: right;">Start With </div>
                                    <div class="col-1"><input type="text" class="form-control" min="1" value="1" id="txtStartQty" onchange="fnChangeStartQty(this);" /></div>
                                    <div class="col-1"> Qty</div>
                                    <div class="col-1" style="text-align: right;">
                                        <a data-bs-toggle="collapse" href="#divTraderClps" role="button" aria-expanded="true" aria-controls="divTraderClps">
                                            <i class="fa fa-caret-square-o-down" aria-hidden="true" style="color: orangered;"></i>
                                        </a>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="collapse show" id="divTraderClps">
                                    <ul class="nav nav-tabs" id="tabManualTrader" role="tablist">
                                        <li class="nav-item" role="presentation" onclick="fnSetCurrTraderTab('futures');">
                                            <button class="nav-link active" id="btnTabFutures" data-bs-toggle="tab" data-bs-target="#tabMTFutures" type="button" role="tab" aria-controls="profile" aria-selected="false">Futures</button>
                                        </li>
                                        <li class="nav-item" role="presentation" onclick="fnSetCurrTraderTab('options');">
                                            <button class="nav-link" id="btnTabOptions" data-bs-toggle="tab" data-bs-target="#tabMTOptions" type="button" role="tab" aria-controls="contact" aria-selected="false">Options</button>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="TabMTContent">
                                        <div class="tab-pane fade show active" id="tabMTFutures" role="tabpanel" aria-labelledby="futures-tab">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        Symbols List
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        Quantity
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        Leverage
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        Available Margin
                                                    </div>
    
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <select id="ddlFuturesSymbols" class="form-select" onchange="fnGetSelSymbolData(this.value);" placeholder="Select Symbol">
                                                            <option value=''>Select Symbol</option>
                                                            <option value='BTCUSD' selected>BTCUSD</option>
                                                            <option value='ETHUSD'>ETHUSD</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <input type="number" min="1" class="form-control" placeholder="Quantity" id="txtFuturesQty" value="1" />
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <input type="number" min="1" class="form-control" placeholder="Leverage" id="txtLeverage" value="200" />
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <div class="input-group mb-3">
                                                            <input id="txtMarginFut" type="number" min="100" class="form-control" placeholder="Available Margin" value="1000" />
                                                            <button class="btn btn-success" type="button" id="btnGetMarginFut" onclick="fnGetAvailableMargin();"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
                                                        </div>
                                                    </div>

                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <input type="text" value="0.001" id="hidContactValue" class="form-control" />
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <input type="text" value="" id="txtInvestment" class="form-control" placeholder="Investment" />
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">

                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">

                                                    </div>
                                                    <hr/>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <div class="d-grid gap-1">
                                                            <button class="btn btn-outline-danger" onclick="fnEmitTradeForAll('sell');" style="display: block;"><b>SELL for ALL</b></button>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <div class="d-grid gap-1">
                                                            <button class="btn btn-outline-success" onclick="fnEmitTradeForAll('buy');" style="display: block;"><b>Buy for ALL</b></button>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <div class="d-grid gap-1">
                                                            <button class="btn btn-outline-danger" onclick="fnInitiateManualFutures('sell');"><b>SELL</b></button>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <div class="d-grid gap-1">
                                                            <button class="btn btn-outline-success" onclick="fnInitiateManualFutures('buy');"><b>BUY</b></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <input type="button" value="Start WS" onclick="fnStartWS();" />
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <div style="color:green; white-space:nowrap; font-size:14px; text-align: center;" id="lblBuyPrice">BUY PRICE</div>
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <div style="color:red; white-space:nowrap; font-size:14px; text-align: center;" id="lblSellPrice">SELL PRICE</div>
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <input type="button" value="Close WS" onclick="fnCloseWS();" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="tabMTOptions" role="tabpanel" aria-labelledby="contact-tab">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        Symbols List
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        Expiry
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        Spot Price
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        Available Margin
                                                    </div>
    
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <select id="ddlOptionsSymbols" class="form-select" onchange="//fnGetSelOptSymbData(this.value);" placeholder="Select Symbol">
                                                            <option value=''>Select Symbol</option>
                                                            <option value='BTCUSD' selected>BTCUSD</option>
                                                            <option value='ETHUSD'>ETHUSD</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <input type="text" class="form-control" placeholder="Expiry Date" id="txtOptionExpiry" value="09-05-2025" />
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <input type="text" class="form-control" placeholder="Spot Price" id="txtOptionSpotPrice" value="" />
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <div class="input-group mb-3">
                                                            <input id="txtMarginOpt" type="number" min="100" class="form-control" placeholder="Available Margin" value="1000" />
                                                            <button class="btn btn-success" type="button" id="btnGetMarginOpt" onclick="fnGetAvailableMargin();"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
                                                        </div>
                                                    </div>
    
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        Lot Size
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        Quantity
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        Stop Loss Points
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        Take Profit Points
                                                    </div>
    
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <input type="number" class="form-control" placeholder="Lot Size" id="txtOptionLotSize" value="0.001" />
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <input type="number" min="1" class="form-control" placeholder="Quantity" id="txtOptionsQty" value="1" />
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <input type="text" class="form-control" id="txtOptionsSL1" name="txtOptionsSL1" value="" placeholder="Stop Loss" />
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <input type="text" class="form-control" id="txtOptionsTP1" name="txtOptionsTP1" value="" placeholder="Take Profit" />
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <input type="text" id="hidSpotPrice" class="form-control" value="" placeholder="Spot Price" />
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <input type="text" id="hidSearchSymbol" class="form-control" value="" placeholder="Search Symbol" />
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <input type="text" id="hidSpotOption" class="form-control" placeholder="Spot Option" value="" />
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <input type="text" id="hidOptStrikeInterval" class="form-control" value="" placeholder="Strike Interval" />
                                                    </div>
                                                    <hr/>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <div class="d-grid gap-1">
                                                            <button class="btn btn-outline-danger" onclick="fnManualEmitOptTrade('SELL', 'CE');" style="display: block;"><b>Sell CE for ALL</b></button>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <div class="d-grid gap-1">
                                                            <button class="btn btn-outline-success" onclick="fnManualEmitOptTrade('SELL', 'PE');" style="display: block;"><b>Sell PE for ALL</b></button>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <div class="d-grid gap-1">
                                                            <button class="btn btn-outline-danger" onclick="fnManualEmitOptTrade('BUY', 'PE');"><b>BUY PE for ALL</b></button>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-lg-3 col-md-6">
                                                        <div class="d-grid gap-1">
                                                            <button class="btn btn-outline-success" onclick="fnManualEmitOptTrade('BUY', 'CE');"><b>BUY CE for All</b></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                        
                                    <div class="row" style="display:none;">
                                        <div class="col-12 col-lg-12 col-md-12">
                                            <input type="text" id="txtKotakSession" class="form-control" value="" placeholder="Kotak Session" />
                                            <input type="text" id="txtViewToken" class="form-control" value="" placeholder="View Token" />
                                            <input type="text" id="txtAccessToken" class="form-control" value="" placeholder="Access Token" />
                                            <input type="text" id="txtSubUserId" class="form-control" value="" placeholder="Sub / UserID" />
                                            <input type="text" id="txtSid" class="form-control" value="" placeholder="SID" />
                                            <input type="text" id="txtHsServerId" class="form-control" value="" placeholder="Hs Server ID" />
                                            <input type="text" id="hidLTP" class="form-control" value="" placeholder="LTP" />
                                
                                            <input type="hidden" id="hidStrikeInterval" placeholder="Strike Interval" />
                                            <input type="hidden" id="hidToken" placeholder="Script Token" />
                                            <input type="hidden" id="hidExchange" placeholder="Exchange" />
                                            <input type="hidden" id="hidContract" placeholder="Contract" />
                                            <input type="hidden" id="hidMaxLotsLimit" placeholder="Lots Limit" />
                                            <input type="hidden" id="txtDateToTime" placeholder="DateToTime" />
                                            <input type="hidden" id="txtActualStrike" placeholder="Actual Strike" />
                                            <input type="hidden" id="hidTradeToken" placeholder="Option Token" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-6">
                                        <h4>Open Position(s)</h4>
                                    </div>
                                    <div class="col-1">

                                    </div>
                                    <div class="col-1">
                                        <i class="fa fa-refresh" aria-hidden="true" style="color: skyblue; cursor: pointer;" onclick="fnGetTimerBasedRates();//fnStartStreaming();"></i>
                                    </div>
                                    <div class="col-3" style="text-align: right; font-size:20px; cursor: pointer;" onclick="fnInitCloseAllPositions();">
                                        <i class="fa fa-times-circle-o" aria-hidden="true" style="color: red;"></i> Close All Positions
                                    </div>
                                    <div class="col-1" style="text-align: right;">
                                        <a data-bs-toggle="collapse" href="#divOpenPosClps" role="button" aria-expanded="true" aria-controls="divOpenPosClps">
                                            <i class="fa fa-caret-square-o-down" aria-hidden="true" style="color: orangered;"></i>
                                        </a>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="collapse show" id="divOpenPosClps">
                                    <div class="container-fluid">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr style="text-align:center;">
                                                      <th scope="col" style="text-wrap: nowrap;">Open Date Time</th>
                                                      <th scope="col" style="text-wrap: nowrap;">Symbol</th>
                                                      <th scope="col" style="text-wrap: nowrap;">Strike</th>
                                                      <th scope="col" style="text-wrap: nowrap;">BorS</th>
                                                      <th scope="col" style="text-wrap: nowrap;">Qty</th>
                                                      <th scope="col" style="text-wrap: nowrap;">Buy Price</th>
                                                      <th scope="col" style="text-wrap: nowrap;">Sell Price</th>
                                                      <th scope="col" style="text-wrap: nowrap;">Charges</th>
                                                      <th scope="col" style="text-wrap: nowrap;">Capital</th>
                                                      <th scope="col" style="text-wrap: nowrap;">P &amp; L</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody id="tBodyCurrOpenTrades">
    
                                                  </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-6">
                                        <h4>Closed Position(s)</h4>
                                    </div>
                                    <div class="col-4">
                                    </div>
                                    <div class="col-1">
                                        <button class='nav-link' onclick="fnClearLocalStorageTemp();" role="tab" type="button">Clear All</button>
                                    </div>
                                    <div class="col-1" style="text-align: right;">
                                        <a data-bs-toggle="collapse" href="#divClosedPosClps" role="button" aria-expanded="false" aria-controls="divClosedPosClps">
                                            <i class="fa fa-caret-square-o-down" aria-hidden="true" style="color: orangered;"></i>
                                          </a>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="collapse show" id="divClosedPosClps">
                                    <ul class="nav nav-tabs" id="tabClosedTrades" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link active" id="btnTabClsdRealTrds" data-bs-toggle="tab" data-bs-target="#tabClsdRealTrds" type="button"
                                                role="tab" aria-controls="home" aria-selected="true">Real Trades</button>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <button class="nav-link" id="btnTabClsdPaperTrds" data-bs-toggle="tab" data-bs-target="#tabClsdPaperTrds" type="button" role="tab" aria-controls="papTrd" aria-selected="false">Paper Trades</button>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="TabClsdPosiContent">
                                        <div class="tab-pane fade show active" id="tabClsdRealTrds" role="tabpanel" aria-labelledby="RealTrds-tab">
                                            <div class="container-fluid">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr style="text-align:center;">
                                                              <!-- <th scope="col">TradeID</th> -->
                                                              <th scope="col" style="text-wrap: nowrap;">Date Time</th>
                                                              <th scope="col" style="text-wrap: nowrap;">Symbol</th>
                                                              <th scope="col" style="text-wrap: nowrap;">Order Type</th>
                                                              <th scope="col" style="text-wrap: nowrap;">Qty</th>
                                                              <th scope="col" style="text-wrap: nowrap;">Buy Price</th>
                                                              <th scope="col" style="text-wrap: nowrap;">Sell Price</th>
                                                              <th scope="col" style="text-wrap: nowrap;">Capital</th>
                                                              <!-- <th scope="col" style="text-wrap: nowrap;">P &amp; L</th> -->
                                                            </tr>
                                                          </thead>
                                                          <tbody id="divTodayTrades">
            
                                                          </tbody>
                                                    </table>
                                                </div>
                                            </div>                    
                                        </div>
                                        <div class="tab-pane fade" id="tabClsdPaperTrds" role="tabpanel" aria-labelledby="PaperTrds-tab">
                                            <div class="container-fluid">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr style="text-align:center;">
                                                              <!-- <th scope="col">TradeID</th> -->
                                                              <th scope="col" style="text-wrap: nowrap;">Start Date Time</th>
                                                              <th scope="col" style="text-wrap: nowrap;">End Date Time</th>
                                                              <th scope="col" style="text-wrap: nowrap;">Symbol</th>
                                                              <th scope="col" style="text-wrap: nowrap;">Strike</th>
                                                              <th scope="col" style="text-wrap: nowrap;">BorS</th>
                                                              <th scope="col" style="text-wrap: nowrap;">Qty</th>
                                                              <th scope="col" style="text-wrap: nowrap;">Buy Price</th>
                                                              <th scope="col" style="text-wrap: nowrap;">Sell Price</th>
                                                              <th scope="col" style="text-wrap: nowrap;">Charges</th>
                                                              <th scope="col" style="text-wrap: nowrap;">Capital</th>
                                                              <th scope="col" style="text-wrap: nowrap;">P &amp; L</th>
                                                            </tr>
                                                          </thead>
                                                          <tbody id="tBodyClsdOptPaperTrades">
            
                                                          </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-6">
                                        <h4>Order / Trade Book</h4>
                                    </div>
                                    <div class="col-4">

                                    </div>
                                    <div class="col-1">
                                        <i class="fa fa-refresh" aria-hidden="true" style="color: skyblue; cursor: pointer;" onclick="fnGetOrderTradeBook();"></i>
                                    </div>
                                    <div class="col-1" style="text-align: right;">
                                        <a data-bs-toggle="collapse" href="#divAlgoMsgsClps" role="button" aria-expanded="true" aria-controls="divAlgoMsgsClps">
                                            <i class="fa fa-caret-square-o-down" aria-hidden="true" style="color: orangered;"></i>
                                          </a>
                                    </div>                                    
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="collapse show" id="divAlgoMsgsClps">
                                    <input type="button" value="Wallet Bal API" onclick="fnTestWalletAPI();" />
                                    <input type="button" value="Wallet Balance SDK" onclick="fnGetUserWalletSDK();" />
                                    <input type="button" value="Get Leverage SDK" onclick="fnGetLeverageSDK();" />
                                    <input type="button" value="Set Leverage SDK" onclick="fnSetLeverageSDK();" />
                                    <input type="button" value="Set Leverage API" onclick="fnSetLeverageAPI();" />
                                    <input type="button" value="Place Limit Order SDK" onclick="fnPlaceLimitOrderSDK();" />
                                    <input type="button" value="Place SLTP Limit Order SDK" onclick="fnPlaceSLTPLimitOrderSDK();" />
                                    <input type="button" value="Cancel Order SDK" onclick="fnCancelOrderSDK();" />
                                    <input type="button" value="Get All Order" onclick="fnTestGetAllOrderAPI();" />
                                    <input type="button" value="Get Curr Price" onclick="fnGetCurrPriceByProd();" />
                                    <input type="button" value="Get Products List" onclick="fnGetProductsList();" />
                                    <input type="button" value="Clear Memory" onclick="fnClearLocalStorageTemp();" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<%- include('partials/deltaSettings.ejs') %>

<script src="/js/deltaLive.js"></script>
<script src="/js/deltaSettings.js"></script>