<div id="main" class="container-xxl">
    <div class="page-heading">
        <div class="row">
            <div class="col-4">
                <h3>Delta - Futures Scalper Demo</h3>
            </div>
            <div class="col-4 text-center">
                <span class="badge bg-warning" id="spnGenMsg">Hi, Welcome</span>
            </div>
            <div class="col-4" style="text-align: right;">
                <a href="javascript: void(null);" class="btn btn-outline-primary" onclick="fnChangeLater();"><i class="fa fa-cogs" aria-hidden="true" style="color: orangered;"></i> Delta Settings</a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <section class="row">
            <div class="col-12 col-lg-12">
                <div class="row" style="text-align: center;">
                    <div class="col-6 col-lg-4 col-md-6">
                        <button class="badge bg-danger" onclick="fnShowTraderLoginMdl(this);" id="btnTraderStatus">TRADER - Disconnected</button>
                    </div>
                    <div class="col-6 col-lg-4 col-md-6">
                        <button class="badge bg-danger" onclick="fnToggleAutoTrader();" id="btnAutoTraderStatus">Auto Trader - OFF</button>
                    </div>
                    <div class="col-6 col-lg-4 col-md-6">
                        <button class="badge bg-success" onclick="fnPositionStatus()" id="btnPositionStatus">No Open Position</button>
                    </div>
                    <div class="col-12">&nbsp;</div>
                </div>
            </div>
        </section>
        <section class="row">
            <div class="col-12">
                <div class="card" id="cardManualTrader">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-3">
                                <h4>Manual Trader</h4>
                            </div>
                            <div class="col-2">
                                <div class="form-check form-switch fs-6" style="white-space: nowrap;">
                                    <input class="form-check-input  me-0" type="checkbox" style="cursor: pointer" id="swtStreaming" name="swtStreaming" onchange="fnChkStreamOpt();" />
                                    <label for="swtStreaming" style="cursor:pointer;">Streaming</label>
                                </div>
                            </div>
                            <div class="col-2">
                                <form name="frmSide">
                                    <div class="tw-toggle" style="white-space: nowrap;">
                                        <input id="txtBN1" type="radio" name="rdoTradeSide" value="false" onclick="fnTradeSide();" />
                                        <label class="toggle toggle-yes" for="txtBN1"><i class="fa fa-arrow-down"></i></label>
                                        <input id="txtBN2" checked type="radio" name="rdoTradeSide" value="-1" onclick="fnTradeSide();" />
                                        <label class="toggle toggle-yes" for="txtBN2"><i class="fa fa-minus"></i></label>
                                        <input id="txtBN3" type="radio" name="rdoTradeSide" value="true" onclick="fnTradeSide();" />
                                        <label class="toggle toggle-yes" for="txtBN3"><i class="fa fa-arrow-up"></i></label>
                                        <span></span>
                                        <label for="TradeSide">Side</label>
                                    </div>
                                </form>
                            </div>
                            <div class="col-2" style="text-align: right;">Start With </div>
                            <div class="col-1"><input type="text" class="form-control" min="1" value="1" id="txtStartQty" onchange="fnChangeStartQty(this);" /></div>
                            <div class="col-1"> Qty</div>
                            <div class="col-1" style="text-align: right;">
                                <a data-bs-toggle="collapse" href="#divTraderClps" role="button" aria-expanded="true" aria-controls="divTraderClps">
                                    <i class="fa fa-caret-square-o-down" aria-hidden="true" style="color: orangered;"></i>
                                </a>
                            </div>                                    
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="collapse show" id="divTraderClps">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-3">
                                        Symbols List
                                    </div>
                                    <div class="col-3">
                                        Quantity
                                    </div>
                                    <div class="col-3">
                                        Lot Size
                                    </div>
                                    <div class="col-3">
                                        Available Margin
                                    </div>

                                    <div class="col-3">
                                        <select id="ddlFuturesSymbols" class="form-select" onchange="//fnGetSelSymbolData(this.value);" placeholder="Select Symbol">
                                            <option value=''>Select Symbol</option>
                                            <option value='BTCUSD' selected>BTCUSD</option>
                                            <option value='ETHUSD'>ETHUSD</option>
                                        </select>
                                    </div>
                                    <div class="col-3">
                                        <input type="number" min="1" class="form-control" placeholder="Quantity" id="txtFuturesQty" value="1" />
                                    </div>
                                    <div class="col-3">
                                        <input type="text" value="0.001" id="hidLotSize" class="form-control" />
                                    </div>
                                    <div class="col-3">
                                        <div class="input-group mb-3">
                                            <input id="txtMarginFut" type="number" min="100" class="form-control" placeholder="Available Margin" value="1000" />
                                            <button class="btn btn-success" type="button" id="btnGetMarginFut" onclick="fnGetAvailableMargin();"><i class="fa fa-chevron-up" aria-hidden="true"></i></button>
                                        </div>
                                    </div>

                                    <div class="col-2">Best Buying Price</div>
                                    <div class="col-2">Spot Price</div>
                                    <div class="col-2">Best Selling Price</div>
                                    <div class="col-6"></div>

                                    <div class="col-2">
                                        <input type="number" class="form-control" placeholder="Best Buy Price" id="txtBestBuyPrice" />
                                    </div>
                                    <div class="col-2">
                                        <input type="number" class="form-control" placeholder="Spot Price" id="txtSpotPrice" />
                                    </div>
                                    <div class="col-2">
                                        <input type="number" class="form-control" placeholder="Best Sell Price" id="txtBestSellPrice" />
                                    </div>
                                    <div class="col-3">
                                        <div class="d-grid gap-1">
                                            <button class="btn btn-outline-primary" onclick="fnSubscribe();" style="display: block;"><b>Subscribe</b></button>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                         <div class="d-grid gap-1">
                                            <button class="btn btn-outline-primary" onclick="fnUnsubscribe();" style="display: block;"><b>Unsubscribe</b></button>
                                        </div>
                                    </div>
                                    <br/><br/><br/>

                                    <div class="col-2">Open</div>
                                    <div class="col-2">High</div>
                                    <div class="col-2">Low</div>
                                    <div class="col-2">Close</div>
                                    <div class="col-4"></div>
                                    <div class="col-2">
                                        <input type="number" class="form-control" placeholder="Candle Open Price" id="txtCandleOpen" />
                                    </div>
                                    <div class="col-2">
                                        <input type="number" class="form-control" placeholder="Candle High Price" id="txtCandleHigh" />
                                    </div>
                                    <div class="col-2">
                                        <input type="number" class="form-control" placeholder="Candle Low Price" id="txtCandleLow" />
                                    </div>
                                    <div class="col-2">
                                        <input type="number" class="form-control" placeholder="Candle Close Price" id="txtCandleClose" />
                                    </div>
                                    <div class="col-4">
                                         <div class="d-grid gap-1">
                                            <button class="btn btn-outline-primary" onclick="fnGetHistoricalOHLC();" style="display: block;"><b>Get Historical OHLC</b></button>
                                        </div>
                                    </div>
                                    <br/><br/><br/>

                                    <div class="col-3">
                                         
                                    </div>
                                    <div class="col-3"></div>
                                    <div class="col-3">
                                         <div class="d-grid gap-1">
                                            <button class="btn btn-outline-primary" onclick="fnConnectWS();" style="display: block;"><b>Connect WS</b></button>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                         <div class="d-grid gap-1">
                                            <button class="btn btn-outline-primary" onclick="fnCloseWS();" style="display: block;"><b>Disconnect WS</b></button>
                                         </div>
                                    </div>
                                    <hr/>
                                    <div class="col-3">
                                        <div class="d-grid gap-1">
                                            <button class="btn btn-outline-danger" onclick="fnEmitTradeForAll('sell');" style="display: block;"><b>SELL for ALL</b></button>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="d-grid gap-1">
                                            <button class="btn btn-outline-success" onclick="fnEmitTradeForAll('buy');" style="display: block;"><b>Buy for ALL</b></button>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="d-grid gap-1">
                                            <button class="btn btn-outline-danger" onclick="fnInitiateManualFutures('sell');"><b>SELL</b></button>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="d-grid gap-1">
                                            <button class="btn btn-outline-success" onclick="fnInitiateManualFutures('buy');"><b>BUY</b></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<%- include('partials/deltaFutSettings.ejs') %>

<script src="/js/deltaFutScalper.js"></script>
<script src="/js/deltaFutScalperSettings.js"></script>